TO-BE Process/blueprint.json
{
    "name": "Determine Treatment",
    "flow": [
        {
            "id": 1,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 363910,
                "maxResults": 2
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 450
                },
                "restore": {
                    "hook": {
                        "label": "get-medical-solution"
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ],
                "interface": [
                    {
                        "name": "MedicalSolution",
                        "type": "text"
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "google-sheets:filterRows",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 1135136
            },
            "mapper": {
                "filter": [
                    [
                        {
                            "a": "A",
                            "b": "{{1.MedicalSolution}}",
                            "o": "text:equal"
                        }
                    ]
                ],
                "sheetId": "MedicalSolution -Lars",
                "sortOrder": "asc",
                "spreadsheetId": "1uSmTeJnqbJVXbpa7dm8LQsH-BlIwQ-0_-VpWshq6m6Q",
                "tableFirstRow": "A1:CZ1",
                "includesHeaders": true,
                "valueRenderOption": "FORMATTED_VALUE",
                "dateTimeRenderOption": "FORMATTED_STRING"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 450
                },
                "restore": {
                    "orderBy": {
                        "mode": "chose",
                        "label": ""
                    },
                    "sheetId": {
                        "mode": "chose",
                        "label": "MedicalSolution -Lars"
                    },
                    "sortOrder": {
                        "mode": "chose",
                        "label": "Ascending"
                    },
                    "__IMTCONN__": {
                        "label": "read-patient-data (kevin.saner91@gmail.com)"
                    },
                    "spreadsheetId": {
                        "mode": "chose",
                        "label": "BurrataTest"
                    },
                    "tableFirstRow": {
                        "label": "A-CZ"
                    },
                    "includesHeaders": {
                        "mode": "chose",
                        "label": "Yes"
                    },
                    "valueRenderOption": {
                        "mode": "chose",
                        "label": "Formatted value"
                    },
                    "dateTimeRenderOption": {
                        "mode": "chose",
                        "label": "Formatted string"
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "spreadsheetId",
                        "type": "select",
                        "label": "Spreadsheet",
                        "required": true
                    },
                    {
                        "name": "valueRenderOption",
                        "type": "select",
                        "label": "Value render option",
                        "validate": {
                            "enum": [
                                "FORMATTED_VALUE",
                                "UNFORMATTED_VALUE",
                                "FORMULA"
                            ]
                        }
                    },
                    {
                        "name": "dateTimeRenderOption",
                        "type": "select",
                        "label": "Date and time render option",
                        "validate": {
                            "enum": [
                                "SERIAL_NUMBER",
                                "FORMATTED_STRING"
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "number",
                        "label": "Maximum number of returned rows"
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "tableFirstRow",
                        "type": "select",
                        "label": "Column range",
                        "required": true,
                        "validate": {
                            "enum": [
                                "A1:Z1",
                                "A1:BZ1",
                                "A1:CZ1",
                                "A1:DZ1",
                                "A1:MZ1",
                                "A1:ZZ1"
                            ]
                        }
                    },
                    {
                        "name": "filter",
                        "type": "filter",
                        "label": "Filter",
                        "options": {
                            "store": "rpc://google-sheets@2/rpcGetFilterKeys?includesHeaders=true"
                        }
                    },
                    {
                        "name": "sortOrder",
                        "type": "select",
                        "label": "Sort order",
                        "validate": {
                            "enum": [
                                "asc",
                                "desc"
                            ]
                        }
                    },
                    {
                        "name": "orderBy",
                        "type": "select",
                        "label": "Order by"
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "type": "uinteger",
                        "label": "Total number of bundles"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "type": "uinteger",
                        "label": "Bundle order position"
                    },
                    {
                        "name": "__ROW_NUMBER__",
                        "type": "number",
                        "label": "Row number"
                    },
                    {
                        "name": "__SPREADSHEET_ID__",
                        "type": "text",
                        "label": "Spreadsheet ID"
                    },
                    {
                        "name": "__SHEET__",
                        "type": "text",
                        "label": "Sheet"
                    },
                    {
                        "name": "0",
                        "type": "text",
                        "label": "ID (A)"
                    },
                    {
                        "name": "1",
                        "type": "text",
                        "label": "Drug1 (B)"
                    },
                    {
                        "name": "2",
                        "type": "text",
                        "label": "Drug2 (C)"
                    },
                    {
                        "name": "3",
                        "type": "text",
                        "label": "Drug3 (D)"
                    },
                    {
                        "name": "4",
                        "type": "text",
                        "label": "Advice (E)"
                    },
                    {
                        "name": "5",
                        "type": "text",
                        "label": "(F)"
                    },
                    {
                        "name": "6",
                        "type": "text",
                        "label": "(G)"
                    },
                    {
                        "name": "7",
                        "type": "text",
                        "label": "(H)"
                    },
                    {
                        "name": "8",
                        "type": "text",
                        "label": "(I)"
                    },
                    {
                        "name": "9",
                        "type": "text",
                        "label": "(J)"
                    },
                    {
                        "name": "10",
                        "type": "text",
                        "label": "(K)"
                    },
                    {
                        "name": "11",
                        "type": "text",
                        "label": "(L)"
                    },
                    {
                        "name": "12",
                        "type": "text",
                        "label": "(M)"
                    },
                    {
                        "name": "13",
                        "type": "text",
                        "label": "(N)"
                    },
                    {
                        "name": "14",
                        "type": "text",
                        "label": "(O)"
                    },
                    {
                        "name": "15",
                        "type": "text",
                        "label": "(P)"
                    },
                    {
                        "name": "16",
                        "type": "text",
                        "label": "(Q)"
                    },
                    {
                        "name": "17",
                        "type": "text",
                        "label": "(R)"
                    },
                    {
                        "name": "18",
                        "type": "text",
                        "label": "(S)"
                    },
                    {
                        "name": "19",
                        "type": "text",
                        "label": "(T)"
                    },
                    {
                        "name": "20",
                        "type": "text",
                        "label": "(U)"
                    },
                    {
                        "name": "21",
                        "type": "text",
                        "label": "(V)"
                    },
                    {
                        "name": "22",
                        "type": "text",
                        "label": "(W)"
                    },
                    {
                        "name": "23",
                        "type": "text",
                        "label": "(X)"
                    },
                    {
                        "name": "24",
                        "type": "text",
                        "label": "(Y)"
                    },
                    {
                        "name": "25",
                        "type": "text",
                        "label": "(Z)"
                    },
                    {
                        "name": "26",
                        "type": "text",
                        "label": "(AA)"
                    },
                    {
                        "name": "27",
                        "type": "text",
                        "label": "(AB)"
                    },
                    {
                        "name": "28",
                        "type": "text",
                        "label": "(AC)"
                    },
                    {
                        "name": "29",
                        "type": "text",
                        "label": "(AD)"
                    },
                    {
                        "name": "30",
                        "type": "text",
                        "label": "(AE)"
                    },
                    {
                        "name": "31",
                        "type": "text",
                        "label": "(AF)"
                    },
                    {
                        "name": "32",
                        "type": "text",
                        "label": "(AG)"
                    },
                    {
                        "name": "33",
                        "type": "text",
                        "label": "(AH)"
                    },
                    {
                        "name": "34",
                        "type": "text",
                        "label": "(AI)"
                    },
                    {
                        "name": "35",
                        "type": "text",
                        "label": "(AJ)"
                    },
                    {
                        "name": "36",
                        "type": "text",
                        "label": "(AK)"
                    },
                    {
                        "name": "37",
                        "type": "text",
                        "label": "(AL)"
                    },
                    {
                        "name": "38",
                        "type": "text",
                        "label": "(AM)"
                    },
                    {
                        "name": "39",
                        "type": "text",
                        "label": "(AN)"
                    },
                    {
                        "name": "40",
                        "type": "text",
                        "label": "(AO)"
                    },
                    {
                        "name": "41",
                        "type": "text",
                        "label": "(AP)"
                    },
                    {
                        "name": "42",
                        "type": "text",
                        "label": "(AQ)"
                    },
                    {
                        "name": "43",
                        "type": "text",
                        "label": "(AR)"
                    },
                    {
                        "name": "44",
                        "type": "text",
                        "label": "(AS)"
                    },
                    {
                        "name": "45",
                        "type": "text",
                        "label": "(AT)"
                    },
                    {
                        "name": "46",
                        "type": "text",
                        "label": "(AU)"
                    },
                    {
                        "name": "47",
                        "type": "text",
                        "label": "(AV)"
                    },
                    {
                        "name": "48",
                        "type": "text",
                        "label": "(AW)"
                    },
                    {
                        "name": "49",
                        "type": "text",
                        "label": "(AX)"
                    },
                    {
                        "name": "50",
                        "type": "text",
                        "label": "(AY)"
                    },
                    {
                        "name": "51",
                        "type": "text",
                        "label": "(AZ)"
                    },
                    {
                        "name": "52",
                        "type": "text",
                        "label": "(BA)"
                    },
                    {
                        "name": "53",
                        "type": "text",
                        "label": "(BB)"
                    },
                    {
                        "name": "54",
                        "type": "text",
                        "label": "(BC)"
                    },
                    {
                        "name": "55",
                        "type": "text",
                        "label": "(BD)"
                    },
                    {
                        "name": "56",
                        "type": "text",
                        "label": "(BE)"
                    },
                    {
                        "name": "57",
                        "type": "text",
                        "label": "(BF)"
                    },
                    {
                        "name": "58",
                        "type": "text",
                        "label": "(BG)"
                    },
                    {
                        "name": "59",
                        "type": "text",
                        "label": "(BH)"
                    },
                    {
                        "name": "60",
                        "type": "text",
                        "label": "(BI)"
                    },
                    {
                        "name": "61",
                        "type": "text",
                        "label": "(BJ)"
                    },
                    {
                        "name": "62",
                        "type": "text",
                        "label": "(BK)"
                    },
                    {
                        "name": "63",
                        "type": "text",
                        "label": "(BL)"
                    },
                    {
                        "name": "64",
                        "type": "text",
                        "label": "(BM)"
                    },
                    {
                        "name": "65",
                        "type": "text",
                        "label": "(BN)"
                    },
                    {
                        "name": "66",
                        "type": "text",
                        "label": "(BO)"
                    },
                    {
                        "name": "67",
                        "type": "text",
                        "label": "(BP)"
                    },
                    {
                        "name": "68",
                        "type": "text",
                        "label": "(BQ)"
                    },
                    {
                        "name": "69",
                        "type": "text",
                        "label": "(BR)"
                    },
                    {
                        "name": "70",
                        "type": "text",
                        "label": "(BS)"
                    },
                    {
                        "name": "71",
                        "type": "text",
                        "label": "(BT)"
                    },
                    {
                        "name": "72",
                        "type": "text",
                        "label": "(BU)"
                    },
                    {
                        "name": "73",
                        "type": "text",
                        "label": "(BV)"
                    },
                    {
                        "name": "74",
                        "type": "text",
                        "label": "(BW)"
                    },
                    {
                        "name": "75",
                        "type": "text",
                        "label": "(BX)"
                    },
                    {
                        "name": "76",
                        "type": "text",
                        "label": "(BY)"
                    },
                    {
                        "name": "77",
                        "type": "text",
                        "label": "(BZ)"
                    },
                    {
                        "name": "78",
                        "type": "text",
                        "label": "(CA)"
                    },
                    {
                        "name": "79",
                        "type": "text",
                        "label": "(CB)"
                    },
                    {
                        "name": "80",
                        "type": "text",
                        "label": "(CC)"
                    },
                    {
                        "name": "81",
                        "type": "text",
                        "label": "(CD)"
                    },
                    {
                        "name": "82",
                        "type": "text",
                        "label": "(CE)"
                    },
                    {
                        "name": "83",
                        "type": "text",
                        "label": "(CF)"
                    },
                    {
                        "name": "84",
                        "type": "text",
                        "label": "(CG)"
                    },
                    {
                        "name": "85",
                        "type": "text",
                        "label": "(CH)"
                    },
                    {
                        "name": "86",
                        "type": "text",
                        "label": "(CI)"
                    },
                    {
                        "name": "87",
                        "type": "text",
                        "label": "(CJ)"
                    },
                    {
                        "name": "88",
                        "type": "text",
                        "label": "(CK)"
                    },
                    {
                        "name": "89",
                        "type": "text",
                        "label": "(CL)"
                    },
                    {
                        "name": "90",
                        "type": "text",
                        "label": "(CM)"
                    },
                    {
                        "name": "91",
                        "type": "text",
                        "label": "(CN)"
                    },
                    {
                        "name": "92",
                        "type": "text",
                        "label": "(CO)"
                    },
                    {
                        "name": "93",
                        "type": "text",
                        "label": "(CP)"
                    },
                    {
                        "name": "94",
                        "type": "text",
                        "label": "(CQ)"
                    },
                    {
                        "name": "95",
                        "type": "text",
                        "label": "(CR)"
                    },
                    {
                        "name": "96",
                        "type": "text",
                        "label": "(CS)"
                    },
                    {
                        "name": "97",
                        "type": "text",
                        "label": "(CT)"
                    },
                    {
                        "name": "98",
                        "type": "text",
                        "label": "(CU)"
                    },
                    {
                        "name": "99",
                        "type": "text",
                        "label": "(CV)"
                    },
                    {
                        "name": "100",
                        "type": "text",
                        "label": "(CW)"
                    },
                    {
                        "name": "101",
                        "type": "text",
                        "label": "(CX)"
                    },
                    {
                        "name": "102",
                        "type": "text",
                        "label": "(CY)"
                    },
                    {
                        "name": "103",
                        "type": "text",
                        "label": "(CZ)"
                    }
                ]
            }
        },
        {
            "id": 17,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 450
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 6,
                            "module": "google-sheets:filterRows",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 1135136
                            },
                            "filter": {
                                "name": "drugs-required",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{2.`1`}}",
                                            "b": "",
                                            "o": "exist"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "filter": [
                                    [
                                        {
                                            "a": "A",
                                            "b": "{{2.`1`}}",
                                            "o": "text:equal"
                                        }
                                    ],
                                    [
                                        {
                                            "a": "A",
                                            "b": "{{2.`2`}}",
                                            "o": "text:equal"
                                        }
                                    ],
                                    [
                                        {
                                            "a": "A",
                                            "b": "{{2.`3`}}",
                                            "o": "text:equal"
                                        }
                                    ]
                                ],
                                "sheetId": "Drugs - Lars",
                                "sortOrder": "asc",
                                "spreadsheetId": "1uSmTeJnqbJVXbpa7dm8LQsH-BlIwQ-0_-VpWshq6m6Q",
                                "tableFirstRow": "A1:CZ1",
                                "includesHeaders": true,
                                "valueRenderOption": "FORMATTED_VALUE",
                                "dateTimeRenderOption": "FORMATTED_STRING"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 300
                                },
                                "restore": {
                                    "orderBy": {
                                        "mode": "chose",
                                        "label": ""
                                    },
                                    "sheetId": {
                                        "mode": "chose",
                                        "label": "Drugs - Lars"
                                    },
                                    "sortOrder": {
                                        "mode": "chose",
                                        "label": "Ascending"
                                    },
                                    "__IMTCONN__": {
                                        "label": "read-patient-data (kevin.saner91@gmail.com)"
                                    },
                                    "spreadsheetId": {
                                        "mode": "chose",
                                        "label": "BurrataTest"
                                    },
                                    "tableFirstRow": {
                                        "label": "A-CZ"
                                    },
                                    "includesHeaders": {
                                        "mode": "chose",
                                        "label": "Yes"
                                    },
                                    "valueRenderOption": {
                                        "mode": "chose",
                                        "label": "Formatted value"
                                    },
                                    "dateTimeRenderOption": {
                                        "mode": "chose",
                                        "label": "Formatted string"
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "spreadsheetId",
                                        "type": "select",
                                        "label": "Spreadsheet",
                                        "required": true
                                    },
                                    {
                                        "name": "valueRenderOption",
                                        "type": "select",
                                        "label": "Value render option",
                                        "validate": {
                                            "enum": [
                                                "FORMATTED_VALUE",
                                                "UNFORMATTED_VALUE",
                                                "FORMULA"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "dateTimeRenderOption",
                                        "type": "select",
                                        "label": "Date and time render option",
                                        "validate": {
                                            "enum": [
                                                "SERIAL_NUMBER",
                                                "FORMATTED_STRING"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "limit",
                                        "type": "number",
                                        "label": "Maximum number of returned rows"
                                    },
                                    {
                                        "name": "sheetId",
                                        "type": "select",
                                        "label": "Sheet",
                                        "required": true
                                    },
                                    {
                                        "name": "includesHeaders",
                                        "type": "select",
                                        "label": "Table contains headers",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    },
                                    {
                                        "name": "tableFirstRow",
                                        "type": "select",
                                        "label": "Column range",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "A1:Z1",
                                                "A1:BZ1",
                                                "A1:CZ1",
                                                "A1:DZ1",
                                                "A1:MZ1",
                                                "A1:ZZ1"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "filter",
                                        "type": "filter",
                                        "label": "Filter",
                                        "options": {
                                            "store": "rpc://google-sheets@2/rpcGetFilterKeys?includesHeaders=true"
                                        }
                                    },
                                    {
                                        "name": "sortOrder",
                                        "type": "select",
                                        "label": "Sort order",
                                        "validate": {
                                            "enum": [
                                                "asc",
                                                "desc"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "orderBy",
                                        "type": "select",
                                        "label": "Order by"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "__IMTLENGTH__",
                                        "type": "uinteger",
                                        "label": "Total number of bundles"
                                    },
                                    {
                                        "name": "__IMTINDEX__",
                                        "type": "uinteger",
                                        "label": "Bundle order position"
                                    },
                                    {
                                        "name": "__ROW_NUMBER__",
                                        "type": "number",
                                        "label": "Row number"
                                    },
                                    {
                                        "name": "__SPREADSHEET_ID__",
                                        "type": "text",
                                        "label": "Spreadsheet ID"
                                    },
                                    {
                                        "name": "__SHEET__",
                                        "type": "text",
                                        "label": "Sheet"
                                    },
                                    {
                                        "name": "0",
                                        "type": "text",
                                        "label": "DrugID (A)"
                                    },
                                    {
                                        "name": "1",
                                        "type": "text",
                                        "label": "DrugName (B)"
                                    },
                                    {
                                        "name": "2",
                                        "type": "text",
                                        "label": "Prescription (C)"
                                    },
                                    {
                                        "name": "3",
                                        "type": "text",
                                        "label": "(D)"
                                    },
                                    {
                                        "name": "4",
                                        "type": "text",
                                        "label": "(E)"
                                    },
                                    {
                                        "name": "5",
                                        "type": "text",
                                        "label": "(F)"
                                    },
                                    {
                                        "name": "6",
                                        "type": "text",
                                        "label": "(G)"
                                    },
                                    {
                                        "name": "7",
                                        "type": "text",
                                        "label": "(H)"
                                    },
                                    {
                                        "name": "8",
                                        "type": "text",
                                        "label": "(I)"
                                    },
                                    {
                                        "name": "9",
                                        "type": "text",
                                        "label": "(J)"
                                    },
                                    {
                                        "name": "10",
                                        "type": "text",
                                        "label": "(K)"
                                    },
                                    {
                                        "name": "11",
                                        "type": "text",
                                        "label": "(L)"
                                    },
                                    {
                                        "name": "12",
                                        "type": "text",
                                        "label": "(M)"
                                    },
                                    {
                                        "name": "13",
                                        "type": "text",
                                        "label": "(N)"
                                    },
                                    {
                                        "name": "14",
                                        "type": "text",
                                        "label": "(O)"
                                    },
                                    {
                                        "name": "15",
                                        "type": "text",
                                        "label": "(P)"
                                    },
                                    {
                                        "name": "16",
                                        "type": "text",
                                        "label": "(Q)"
                                    },
                                    {
                                        "name": "17",
                                        "type": "text",
                                        "label": "(R)"
                                    },
                                    {
                                        "name": "18",
                                        "type": "text",
                                        "label": "(S)"
                                    },
                                    {
                                        "name": "19",
                                        "type": "text",
                                        "label": "(T)"
                                    },
                                    {
                                        "name": "20",
                                        "type": "text",
                                        "label": "(U)"
                                    },
                                    {
                                        "name": "21",
                                        "type": "text",
                                        "label": "(V)"
                                    },
                                    {
                                        "name": "22",
                                        "type": "text",
                                        "label": "(W)"
                                    },
                                    {
                                        "name": "23",
                                        "type": "text",
                                        "label": "(X)"
                                    },
                                    {
                                        "name": "24",
                                        "type": "text",
                                        "label": "(Y)"
                                    },
                                    {
                                        "name": "25",
                                        "type": "text",
                                        "label": "(Z)"
                                    },
                                    {
                                        "name": "26",
                                        "type": "text",
                                        "label": "(AA)"
                                    },
                                    {
                                        "name": "27",
                                        "type": "text",
                                        "label": "(AB)"
                                    },
                                    {
                                        "name": "28",
                                        "type": "text",
                                        "label": "(AC)"
                                    },
                                    {
                                        "name": "29",
                                        "type": "text",
                                        "label": "(AD)"
                                    },
                                    {
                                        "name": "30",
                                        "type": "text",
                                        "label": "(AE)"
                                    },
                                    {
                                        "name": "31",
                                        "type": "text",
                                        "label": "(AF)"
                                    },
                                    {
                                        "name": "32",
                                        "type": "text",
                                        "label": "(AG)"
                                    },
                                    {
                                        "name": "33",
                                        "type": "text",
                                        "label": "(AH)"
                                    },
                                    {
                                        "name": "34",
                                        "type": "text",
                                        "label": "(AI)"
                                    },
                                    {
                                        "name": "35",
                                        "type": "text",
                                        "label": "(AJ)"
                                    },
                                    {
                                        "name": "36",
                                        "type": "text",
                                        "label": "(AK)"
                                    },
                                    {
                                        "name": "37",
                                        "type": "text",
                                        "label": "(AL)"
                                    },
                                    {
                                        "name": "38",
                                        "type": "text",
                                        "label": "(AM)"
                                    },
                                    {
                                        "name": "39",
                                        "type": "text",
                                        "label": "(AN)"
                                    },
                                    {
                                        "name": "40",
                                        "type": "text",
                                        "label": "(AO)"
                                    },
                                    {
                                        "name": "41",
                                        "type": "text",
                                        "label": "(AP)"
                                    },
                                    {
                                        "name": "42",
                                        "type": "text",
                                        "label": "(AQ)"
                                    },
                                    {
                                        "name": "43",
                                        "type": "text",
                                        "label": "(AR)"
                                    },
                                    {
                                        "name": "44",
                                        "type": "text",
                                        "label": "(AS)"
                                    },
                                    {
                                        "name": "45",
                                        "type": "text",
                                        "label": "(AT)"
                                    },
                                    {
                                        "name": "46",
                                        "type": "text",
                                        "label": "(AU)"
                                    },
                                    {
                                        "name": "47",
                                        "type": "text",
                                        "label": "(AV)"
                                    },
                                    {
                                        "name": "48",
                                        "type": "text",
                                        "label": "(AW)"
                                    },
                                    {
                                        "name": "49",
                                        "type": "text",
                                        "label": "(AX)"
                                    },
                                    {
                                        "name": "50",
                                        "type": "text",
                                        "label": "(AY)"
                                    },
                                    {
                                        "name": "51",
                                        "type": "text",
                                        "label": "(AZ)"
                                    },
                                    {
                                        "name": "52",
                                        "type": "text",
                                        "label": "(BA)"
                                    },
                                    {
                                        "name": "53",
                                        "type": "text",
                                        "label": "(BB)"
                                    },
                                    {
                                        "name": "54",
                                        "type": "text",
                                        "label": "(BC)"
                                    },
                                    {
                                        "name": "55",
                                        "type": "text",
                                        "label": "(BD)"
                                    },
                                    {
                                        "name": "56",
                                        "type": "text",
                                        "label": "(BE)"
                                    },
                                    {
                                        "name": "57",
                                        "type": "text",
                                        "label": "(BF)"
                                    },
                                    {
                                        "name": "58",
                                        "type": "text",
                                        "label": "(BG)"
                                    },
                                    {
                                        "name": "59",
                                        "type": "text",
                                        "label": "(BH)"
                                    },
                                    {
                                        "name": "60",
                                        "type": "text",
                                        "label": "(BI)"
                                    },
                                    {
                                        "name": "61",
                                        "type": "text",
                                        "label": "(BJ)"
                                    },
                                    {
                                        "name": "62",
                                        "type": "text",
                                        "label": "(BK)"
                                    },
                                    {
                                        "name": "63",
                                        "type": "text",
                                        "label": "(BL)"
                                    },
                                    {
                                        "name": "64",
                                        "type": "text",
                                        "label": "(BM)"
                                    },
                                    {
                                        "name": "65",
                                        "type": "text",
                                        "label": "(BN)"
                                    },
                                    {
                                        "name": "66",
                                        "type": "text",
                                        "label": "(BO)"
                                    },
                                    {
                                        "name": "67",
                                        "type": "text",
                                        "label": "(BP)"
                                    },
                                    {
                                        "name": "68",
                                        "type": "text",
                                        "label": "(BQ)"
                                    },
                                    {
                                        "name": "69",
                                        "type": "text",
                                        "label": "(BR)"
                                    },
                                    {
                                        "name": "70",
                                        "type": "text",
                                        "label": "(BS)"
                                    },
                                    {
                                        "name": "71",
                                        "type": "text",
                                        "label": "(BT)"
                                    },
                                    {
                                        "name": "72",
                                        "type": "text",
                                        "label": "(BU)"
                                    },
                                    {
                                        "name": "73",
                                        "type": "text",
                                        "label": "(BV)"
                                    },
                                    {
                                        "name": "74",
                                        "type": "text",
                                        "label": "(BW)"
                                    },
                                    {
                                        "name": "75",
                                        "type": "text",
                                        "label": "(BX)"
                                    },
                                    {
                                        "name": "76",
                                        "type": "text",
                                        "label": "(BY)"
                                    },
                                    {
                                        "name": "77",
                                        "type": "text",
                                        "label": "(BZ)"
                                    },
                                    {
                                        "name": "78",
                                        "type": "text",
                                        "label": "(CA)"
                                    },
                                    {
                                        "name": "79",
                                        "type": "text",
                                        "label": "(CB)"
                                    },
                                    {
                                        "name": "80",
                                        "type": "text",
                                        "label": "(CC)"
                                    },
                                    {
                                        "name": "81",
                                        "type": "text",
                                        "label": "(CD)"
                                    },
                                    {
                                        "name": "82",
                                        "type": "text",
                                        "label": "(CE)"
                                    },
                                    {
                                        "name": "83",
                                        "type": "text",
                                        "label": "(CF)"
                                    },
                                    {
                                        "name": "84",
                                        "type": "text",
                                        "label": "(CG)"
                                    },
                                    {
                                        "name": "85",
                                        "type": "text",
                                        "label": "(CH)"
                                    },
                                    {
                                        "name": "86",
                                        "type": "text",
                                        "label": "(CI)"
                                    },
                                    {
                                        "name": "87",
                                        "type": "text",
                                        "label": "(CJ)"
                                    },
                                    {
                                        "name": "88",
                                        "type": "text",
                                        "label": "(CK)"
                                    },
                                    {
                                        "name": "89",
                                        "type": "text",
                                        "label": "(CL)"
                                    },
                                    {
                                        "name": "90",
                                        "type": "text",
                                        "label": "(CM)"
                                    },
                                    {
                                        "name": "91",
                                        "type": "text",
                                        "label": "(CN)"
                                    },
                                    {
                                        "name": "92",
                                        "type": "text",
                                        "label": "(CO)"
                                    },
                                    {
                                        "name": "93",
                                        "type": "text",
                                        "label": "(CP)"
                                    },
                                    {
                                        "name": "94",
                                        "type": "text",
                                        "label": "(CQ)"
                                    },
                                    {
                                        "name": "95",
                                        "type": "text",
                                        "label": "(CR)"
                                    },
                                    {
                                        "name": "96",
                                        "type": "text",
                                        "label": "(CS)"
                                    },
                                    {
                                        "name": "97",
                                        "type": "text",
                                        "label": "(CT)"
                                    },
                                    {
                                        "name": "98",
                                        "type": "text",
                                        "label": "(CU)"
                                    },
                                    {
                                        "name": "99",
                                        "type": "text",
                                        "label": "(CV)"
                                    },
                                    {
                                        "name": "100",
                                        "type": "text",
                                        "label": "(CW)"
                                    },
                                    {
                                        "name": "101",
                                        "type": "text",
                                        "label": "(CX)"
                                    },
                                    {
                                        "name": "102",
                                        "type": "text",
                                        "label": "(CY)"
                                    },
                                    {
                                        "name": "103",
                                        "type": "text",
                                        "label": "(CZ)"
                                    }
                                ],
                                "advanced": true
                            }
                        },
                        {
                            "id": 10,
                            "module": "util:TextAggregator",
                            "version": 1,
                            "parameters": {
                                "feeder": 6,
                                "rowSeparator": "other",
                                "otherRowSeparator": ","
                            },
                            "mapper": {
                                "value": "{{6.`2`}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 300
                                },
                                "restore": {
                                    "feeder": {
                                        "label": "Google Sheets - Search Rows [6]"
                                    },
                                    "rowSeparator": {
                                        "label": "Other"
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "rowSeparator",
                                        "type": "select",
                                        "label": "Row separator",
                                        "validate": {
                                            "enum": [
                                                "\n",
                                                "\t",
                                                "other"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "otherRowSeparator",
                                        "type": "text",
                                        "label": "Separator"
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "value",
                                        "type": "text",
                                        "label": "Text",
                                        "multiline": true
                                    }
                                ],
                                "advanced": true
                            }
                        },
                        {
                            "id": 7,
                            "module": "builtin:BasicRouter",
                            "version": 1,
                            "mapper": null,
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": 300
                                }
                            },
                            "routes": [
                                {
                                    "flow": [
                                        {
                                            "id": 8,
                                            "module": "gateway:WebhookRespond",
                                            "version": 1,
                                            "parameters": {},
                                            "filter": {
                                                "name": "prescription-needed",
                                                "conditions": [
                                                    [
                                                        {
                                                            "a": "{{10.text}}",
                                                            "b": "Y",
                                                            "o": "text:contain:ci"
                                                        }
                                                    ]
                                                ]
                                            },
                                            "mapper": {
                                                "body": "{\n\"PrescriptionNeeded\": \"Y\",\n\"Drugs\": \"{{2.`1`}},{{2.`2`}},{{2.`3`}}\",\n}",
                                                "status": "200",
                                                "headers": [
                                                    {
                                                        "key": "Content-Type",
                                                        "value": "application/json"
                                                    }
                                                ]
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 1800,
                                                    "y": 0
                                                },
                                                "restore": {
                                                    "headers": {
                                                        "items": [
                                                            "undefined"
                                                        ]
                                                    }
                                                },
                                                "expect": [
                                                    {
                                                        "name": "status",
                                                        "type": "uinteger",
                                                        "label": "Status",
                                                        "required": true,
                                                        "validate": {
                                                            "min": 100
                                                        }
                                                    },
                                                    {
                                                        "name": "body",
                                                        "type": "any",
                                                        "label": "Body"
                                                    },
                                                    {
                                                        "name": "headers",
                                                        "spec": [
                                                            {
                                                                "name": "key",
                                                                "type": "text",
                                                                "label": "Key",
                                                                "required": true,
                                                                "validate": {
                                                                    "max": 256
                                                                }
                                                            },
                                                            {
                                                                "name": "value",
                                                                "type": "text",
                                                                "label": "Value",
                                                                "required": true,
                                                                "validate": {
                                                                    "max": 4096
                                                                }
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Custom headers",
                                                        "validate": {
                                                            "maxItems": 16
                                                        }
                                                    }
                                                ],
                                                "advanced": true
                                            }
                                        }
                                    ]
                                },
                                {
                                    "flow": [
                                        {
                                            "id": 12,
                                            "module": "google-sheets:filterRows",
                                            "version": 2,
                                            "parameters": {
                                                "__IMTCONN__": 1135136
                                            },
                                            "filter": {
                                                "name": "prescription-not-needed",
                                                "conditions": [
                                                    [
                                                        {
                                                            "a": "{{10.text}}",
                                                            "b": "Y",
                                                            "o": "text:notcontain:ci"
                                                        }
                                                    ]
                                                ]
                                            },
                                            "mapper": {
                                                "filter": [
                                                    [
                                                        {
                                                            "a": "A",
                                                            "b": "{{2.`1`}}",
                                                            "o": "text:equal"
                                                        }
                                                    ],
                                                    [
                                                        {
                                                            "a": "A",
                                                            "b": "{{2.`2`}}",
                                                            "o": "text:equal"
                                                        }
                                                    ],
                                                    [
                                                        {
                                                            "a": "A",
                                                            "b": "{{2.`3`}}",
                                                            "o": "text:equal"
                                                        }
                                                    ]
                                                ],
                                                "sheetId": "Drugs - Lars",
                                                "sortOrder": "asc",
                                                "spreadsheetId": "1uSmTeJnqbJVXbpa7dm8LQsH-BlIwQ-0_-VpWshq6m6Q",
                                                "tableFirstRow": "A1:CZ1",
                                                "includesHeaders": true,
                                                "valueRenderOption": "FORMATTED_VALUE",
                                                "dateTimeRenderOption": "FORMATTED_STRING"
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 1800,
                                                    "y": 450
                                                },
                                                "restore": {
                                                    "orderBy": {
                                                        "mode": "chose",
                                                        "label": ""
                                                    },
                                                    "sheetId": {
                                                        "mode": "chose",
                                                        "label": "Drugs - Lars"
                                                    },
                                                    "sortOrder": {
                                                        "mode": "chose",
                                                        "label": "Ascending"
                                                    },
                                                    "__IMTCONN__": {
                                                        "label": "read-patient-data (kevin.saner91@gmail.com)"
                                                    },
                                                    "spreadsheetId": {
                                                        "mode": "chose",
                                                        "label": "BurrataTest"
                                                    },
                                                    "tableFirstRow": {
                                                        "label": "A-CZ"
                                                    },
                                                    "includesHeaders": {
                                                        "mode": "chose",
                                                        "label": "Yes"
                                                    },
                                                    "valueRenderOption": {
                                                        "mode": "chose",
                                                        "label": "Formatted value"
                                                    },
                                                    "dateTimeRenderOption": {
                                                        "mode": "chose",
                                                        "label": "Formatted string"
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "__IMTCONN__",
                                                        "type": "account",
                                                        "label": "Connection",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "spreadsheetId",
                                                        "type": "select",
                                                        "label": "Spreadsheet",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "valueRenderOption",
                                                        "type": "select",
                                                        "label": "Value render option",
                                                        "validate": {
                                                            "enum": [
                                                                "FORMATTED_VALUE",
                                                                "UNFORMATTED_VALUE",
                                                                "FORMULA"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "dateTimeRenderOption",
                                                        "type": "select",
                                                        "label": "Date and time render option",
                                                        "validate": {
                                                            "enum": [
                                                                "SERIAL_NUMBER",
                                                                "FORMATTED_STRING"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "limit",
                                                        "type": "number",
                                                        "label": "Maximum number of returned rows"
                                                    },
                                                    {
                                                        "name": "sheetId",
                                                        "type": "select",
                                                        "label": "Sheet",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "includesHeaders",
                                                        "type": "select",
                                                        "label": "Table contains headers",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                true,
                                                                false
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "tableFirstRow",
                                                        "type": "select",
                                                        "label": "Column range",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                "A1:Z1",
                                                                "A1:BZ1",
                                                                "A1:CZ1",
                                                                "A1:DZ1",
                                                                "A1:MZ1",
                                                                "A1:ZZ1"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "filter",
                                                        "type": "filter",
                                                        "label": "Filter",
                                                        "options": {
                                                            "store": "rpc://google-sheets@2/rpcGetFilterKeys?includesHeaders=true"
                                                        }
                                                    },
                                                    {
                                                        "name": "sortOrder",
                                                        "type": "select",
                                                        "label": "Sort order",
                                                        "validate": {
                                                            "enum": [
                                                                "asc",
                                                                "desc"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "orderBy",
                                                        "type": "select",
                                                        "label": "Order by"
                                                    }
                                                ],
                                                "interface": [
                                                    {
                                                        "name": "__ROW_NUMBER__",
                                                        "type": "number",
                                                        "label": "Row number"
                                                    },
                                                    {
                                                        "name": "__SPREADSHEET_ID__",
                                                        "type": "text",
                                                        "label": "Spreadsheet ID"
                                                    },
                                                    {
                                                        "name": "__SHEET__",
                                                        "type": "text",
                                                        "label": "Sheet"
                                                    },
                                                    {
                                                        "name": "0",
                                                        "type": "text",
                                                        "label": "DrugID (A)"
                                                    },
                                                    {
                                                        "name": "1",
                                                        "type": "text",
                                                        "label": "DrugName (B)"
                                                    },
                                                    {
                                                        "name": "2",
                                                        "type": "text",
                                                        "label": "Prescription (C)"
                                                    },
                                                    {
                                                        "name": "3",
                                                        "type": "text",
                                                        "label": "(D)"
                                                    },
                                                    {
                                                        "name": "4",
                                                        "type": "text",
                                                        "label": "(E)"
                                                    },
                                                    {
                                                        "name": "5",
                                                        "type": "text",
                                                        "label": "(F)"
                                                    },
                                                    {
                                                        "name": "6",
                                                        "type": "text",
                                                        "label": "(G)"
                                                    },
                                                    {
                                                        "name": "7",
                                                        "type": "text",
                                                        "label": "(H)"
                                                    },
                                                    {
                                                        "name": "8",
                                                        "type": "text",
                                                        "label": "(I)"
                                                    },
                                                    {
                                                        "name": "9",
                                                        "type": "text",
                                                        "label": "(J)"
                                                    },
                                                    {
                                                        "name": "10",
                                                        "type": "text",
                                                        "label": "(K)"
                                                    },
                                                    {
                                                        "name": "11",
                                                        "type": "text",
                                                        "label": "(L)"
                                                    },
                                                    {
                                                        "name": "12",
                                                        "type": "text",
                                                        "label": "(M)"
                                                    },
                                                    {
                                                        "name": "13",
                                                        "type": "text",
                                                        "label": "(N)"
                                                    },
                                                    {
                                                        "name": "14",
                                                        "type": "text",
                                                        "label": "(O)"
                                                    },
                                                    {
                                                        "name": "15",
                                                        "type": "text",
                                                        "label": "(P)"
                                                    },
                                                    {
                                                        "name": "16",
                                                        "type": "text",
                                                        "label": "(Q)"
                                                    },
                                                    {
                                                        "name": "17",
                                                        "type": "text",
                                                        "label": "(R)"
                                                    },
                                                    {
                                                        "name": "18",
                                                        "type": "text",
                                                        "label": "(S)"
                                                    },
                                                    {
                                                        "name": "19",
                                                        "type": "text",
                                                        "label": "(T)"
                                                    },
                                                    {
                                                        "name": "20",
                                                        "type": "text",
                                                        "label": "(U)"
                                                    },
                                                    {
                                                        "name": "21",
                                                        "type": "text",
                                                        "label": "(V)"
                                                    },
                                                    {
                                                        "name": "22",
                                                        "type": "text",
                                                        "label": "(W)"
                                                    },
                                                    {
                                                        "name": "23",
                                                        "type": "text",
                                                        "label": "(X)"
                                                    },
                                                    {
                                                        "name": "24",
                                                        "type": "text",
                                                        "label": "(Y)"
                                                    },
                                                    {
                                                        "name": "25",
                                                        "type": "text",
                                                        "label": "(Z)"
                                                    },
                                                    {
                                                        "name": "26",
                                                        "type": "text",
                                                        "label": "(AA)"
                                                    },
                                                    {
                                                        "name": "27",
                                                        "type": "text",
                                                        "label": "(AB)"
                                                    },
                                                    {
                                                        "name": "28",
                                                        "type": "text",
                                                        "label": "(AC)"
                                                    },
                                                    {
                                                        "name": "29",
                                                        "type": "text",
                                                        "label": "(AD)"
                                                    },
                                                    {
                                                        "name": "30",
                                                        "type": "text",
                                                        "label": "(AE)"
                                                    },
                                                    {
                                                        "name": "31",
                                                        "type": "text",
                                                        "label": "(AF)"
                                                    },
                                                    {
                                                        "name": "32",
                                                        "type": "text",
                                                        "label": "(AG)"
                                                    },
                                                    {
                                                        "name": "33",
                                                        "type": "text",
                                                        "label": "(AH)"
                                                    },
                                                    {
                                                        "name": "34",
                                                        "type": "text",
                                                        "label": "(AI)"
                                                    },
                                                    {
                                                        "name": "35",
                                                        "type": "text",
                                                        "label": "(AJ)"
                                                    },
                                                    {
                                                        "name": "36",
                                                        "type": "text",
                                                        "label": "(AK)"
                                                    },
                                                    {
                                                        "name": "37",
                                                        "type": "text",
                                                        "label": "(AL)"
                                                    },
                                                    {
                                                        "name": "38",
                                                        "type": "text",
                                                        "label": "(AM)"
                                                    },
                                                    {
                                                        "name": "39",
                                                        "type": "text",
                                                        "label": "(AN)"
                                                    },
                                                    {
                                                        "name": "40",
                                                        "type": "text",
                                                        "label": "(AO)"
                                                    },
                                                    {
                                                        "name": "41",
                                                        "type": "text",
                                                        "label": "(AP)"
                                                    },
                                                    {
                                                        "name": "42",
                                                        "type": "text",
                                                        "label": "(AQ)"
                                                    },
                                                    {
                                                        "name": "43",
                                                        "type": "text",
                                                        "label": "(AR)"
                                                    },
                                                    {
                                                        "name": "44",
                                                        "type": "text",
                                                        "label": "(AS)"
                                                    },
                                                    {
                                                        "name": "45",
                                                        "type": "text",
                                                        "label": "(AT)"
                                                    },
                                                    {
                                                        "name": "46",
                                                        "type": "text",
                                                        "label": "(AU)"
                                                    },
                                                    {
                                                        "name": "47",
                                                        "type": "text",
                                                        "label": "(AV)"
                                                    },
                                                    {
                                                        "name": "48",
                                                        "type": "text",
                                                        "label": "(AW)"
                                                    },
                                                    {
                                                        "name": "49",
                                                        "type": "text",
                                                        "label": "(AX)"
                                                    },
                                                    {
                                                        "name": "50",
                                                        "type": "text",
                                                        "label": "(AY)"
                                                    },
                                                    {
                                                        "name": "51",
                                                        "type": "text",
                                                        "label": "(AZ)"
                                                    },
                                                    {
                                                        "name": "52",
                                                        "type": "text",
                                                        "label": "(BA)"
                                                    },
                                                    {
                                                        "name": "53",
                                                        "type": "text",
                                                        "label": "(BB)"
                                                    },
                                                    {
                                                        "name": "54",
                                                        "type": "text",
                                                        "label": "(BC)"
                                                    },
                                                    {
                                                        "name": "55",
                                                        "type": "text",
                                                        "label": "(BD)"
                                                    },
                                                    {
                                                        "name": "56",
                                                        "type": "text",
                                                        "label": "(BE)"
                                                    },
                                                    {
                                                        "name": "57",
                                                        "type": "text",
                                                        "label": "(BF)"
                                                    },
                                                    {
                                                        "name": "58",
                                                        "type": "text",
                                                        "label": "(BG)"
                                                    },
                                                    {
                                                        "name": "59",
                                                        "type": "text",
                                                        "label": "(BH)"
                                                    },
                                                    {
                                                        "name": "60",
                                                        "type": "text",
                                                        "label": "(BI)"
                                                    },
                                                    {
                                                        "name": "61",
                                                        "type": "text",
                                                        "label": "(BJ)"
                                                    },
                                                    {
                                                        "name": "62",
                                                        "type": "text",
                                                        "label": "(BK)"
                                                    },
                                                    {
                                                        "name": "63",
                                                        "type": "text",
                                                        "label": "(BL)"
                                                    },
                                                    {
                                                        "name": "64",
                                                        "type": "text",
                                                        "label": "(BM)"
                                                    },
                                                    {
                                                        "name": "65",
                                                        "type": "text",
                                                        "label": "(BN)"
                                                    },
                                                    {
                                                        "name": "66",
                                                        "type": "text",
                                                        "label": "(BO)"
                                                    },
                                                    {
                                                        "name": "67",
                                                        "type": "text",
                                                        "label": "(BP)"
                                                    },
                                                    {
                                                        "name": "68",
                                                        "type": "text",
                                                        "label": "(BQ)"
                                                    },
                                                    {
                                                        "name": "69",
                                                        "type": "text",
                                                        "label": "(BR)"
                                                    },
                                                    {
                                                        "name": "70",
                                                        "type": "text",
                                                        "label": "(BS)"
                                                    },
                                                    {
                                                        "name": "71",
                                                        "type": "text",
                                                        "label": "(BT)"
                                                    },
                                                    {
                                                        "name": "72",
                                                        "type": "text",
                                                        "label": "(BU)"
                                                    },
                                                    {
                                                        "name": "73",
                                                        "type": "text",
                                                        "label": "(BV)"
                                                    },
                                                    {
                                                        "name": "74",
                                                        "type": "text",
                                                        "label": "(BW)"
                                                    },
                                                    {
                                                        "name": "75",
                                                        "type": "text",
                                                        "label": "(BX)"
                                                    },
                                                    {
                                                        "name": "76",
                                                        "type": "text",
                                                        "label": "(BY)"
                                                    },
                                                    {
                                                        "name": "77",
                                                        "type": "text",
                                                        "label": "(BZ)"
                                                    },
                                                    {
                                                        "name": "78",
                                                        "type": "text",
                                                        "label": "(CA)"
                                                    },
                                                    {
                                                        "name": "79",
                                                        "type": "text",
                                                        "label": "(CB)"
                                                    },
                                                    {
                                                        "name": "80",
                                                        "type": "text",
                                                        "label": "(CC)"
                                                    },
                                                    {
                                                        "name": "81",
                                                        "type": "text",
                                                        "label": "(CD)"
                                                    },
                                                    {
                                                        "name": "82",
                                                        "type": "text",
                                                        "label": "(CE)"
                                                    },
                                                    {
                                                        "name": "83",
                                                        "type": "text",
                                                        "label": "(CF)"
                                                    },
                                                    {
                                                        "name": "84",
                                                        "type": "text",
                                                        "label": "(CG)"
                                                    },
                                                    {
                                                        "name": "85",
                                                        "type": "text",
                                                        "label": "(CH)"
                                                    },
                                                    {
                                                        "name": "86",
                                                        "type": "text",
                                                        "label": "(CI)"
                                                    },
                                                    {
                                                        "name": "87",
                                                        "type": "text",
                                                        "label": "(CJ)"
                                                    },
                                                    {
                                                        "name": "88",
                                                        "type": "text",
                                                        "label": "(CK)"
                                                    },
                                                    {
                                                        "name": "89",
                                                        "type": "text",
                                                        "label": "(CL)"
                                                    },
                                                    {
                                                        "name": "90",
                                                        "type": "text",
                                                        "label": "(CM)"
                                                    },
                                                    {
                                                        "name": "91",
                                                        "type": "text",
                                                        "label": "(CN)"
                                                    },
                                                    {
                                                        "name": "92",
                                                        "type": "text",
                                                        "label": "(CO)"
                                                    },
                                                    {
                                                        "name": "93",
                                                        "type": "text",
                                                        "label": "(CP)"
                                                    },
                                                    {
                                                        "name": "94",
                                                        "type": "text",
                                                        "label": "(CQ)"
                                                    },
                                                    {
                                                        "name": "95",
                                                        "type": "text",
                                                        "label": "(CR)"
                                                    },
                                                    {
                                                        "name": "96",
                                                        "type": "text",
                                                        "label": "(CS)"
                                                    },
                                                    {
                                                        "name": "97",
                                                        "type": "text",
                                                        "label": "(CT)"
                                                    },
                                                    {
                                                        "name": "98",
                                                        "type": "text",
                                                        "label": "(CU)"
                                                    },
                                                    {
                                                        "name": "99",
                                                        "type": "text",
                                                        "label": "(CV)"
                                                    },
                                                    {
                                                        "name": "100",
                                                        "type": "text",
                                                        "label": "(CW)"
                                                    },
                                                    {
                                                        "name": "101",
                                                        "type": "text",
                                                        "label": "(CX)"
                                                    },
                                                    {
                                                        "name": "102",
                                                        "type": "text",
                                                        "label": "(CY)"
                                                    },
                                                    {
                                                        "name": "103",
                                                        "type": "text",
                                                        "label": "(CZ)"
                                                    }
                                                ],
                                                "advanced": true
                                            }
                                        },
                                        {
                                            "id": 11,
                                            "module": "util:TextAggregator",
                                            "version": 1,
                                            "parameters": {
                                                "feeder": 12,
                                                "rowSeparator": "other",
                                                "otherRowSeparator": ","
                                            },
                                            "mapper": {
                                                "value": "{{12.`1`}}"
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 2100,
                                                    "y": 450
                                                },
                                                "restore": {
                                                    "feeder": {
                                                        "label": "Google Sheets - Search Rows [12]"
                                                    },
                                                    "rowSeparator": {
                                                        "label": "Other"
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "rowSeparator",
                                                        "type": "select",
                                                        "label": "Row separator",
                                                        "validate": {
                                                            "enum": [
                                                                "\n",
                                                                "\t",
                                                                "other"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "otherRowSeparator",
                                                        "type": "text",
                                                        "label": "Separator"
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "value",
                                                        "type": "text",
                                                        "label": "Text",
                                                        "multiline": true
                                                    }
                                                ],
                                                "advanced": true
                                            }
                                        },
                                        {
                                            "id": 13,
                                            "module": "builtin:BasicRouter",
                                            "version": 1,
                                            "mapper": null,
                                            "metadata": {
                                                "designer": {
                                                    "x": 2400,
                                                    "y": 450
                                                }
                                            },
                                            "routes": [
                                                {
                                                    "flow": [
                                                        {
                                                            "id": 9,
                                                            "module": "gateway:WebhookRespond",
                                                            "version": 1,
                                                            "parameters": {},
                                                            "mapper": {
                                                                "body": "{\n\"Advice\": \"{{2.`4`}}\",\n\"Drugs\": \"{{11.text}}\"\n}",
                                                                "status": "200",
                                                                "headers": [
                                                                    {
                                                                        "key": "Content-Type",
                                                                        "value": "application/json"
                                                                    }
                                                                ]
                                                            },
                                                            "metadata": {
                                                                "designer": {
                                                                    "x": 2700,
                                                                    "y": 300
                                                                },
                                                                "restore": {
                                                                    "headers": {
                                                                        "items": [
                                                                            "undefined"
                                                                        ]
                                                                    }
                                                                },
                                                                "expect": [
                                                                    {
                                                                        "name": "status",
                                                                        "type": "uinteger",
                                                                        "label": "Status",
                                                                        "required": true,
                                                                        "validate": {
                                                                            "min": 100
                                                                        }
                                                                    },
                                                                    {
                                                                        "name": "body",
                                                                        "type": "any",
                                                                        "label": "Body"
                                                                    },
                                                                    {
                                                                        "name": "headers",
                                                                        "spec": [
                                                                            {
                                                                                "name": "key",
                                                                                "type": "text",
                                                                                "label": "Key",
                                                                                "required": true,
                                                                                "validate": {
                                                                                    "max": 256
                                                                                }
                                                                            },
                                                                            {
                                                                                "name": "value",
                                                                                "type": "text",
                                                                                "label": "Value",
                                                                                "required": true,
                                                                                "validate": {
                                                                                    "max": 4096
                                                                                }
                                                                            }
                                                                        ],
                                                                        "type": "array",
                                                                        "label": "Custom headers",
                                                                        "validate": {
                                                                            "maxItems": 16
                                                                        }
                                                                    }
                                                                ],
                                                                "advanced": true
                                                            }
                                                        }
                                                    ]
                                                },
                                                {
                                                    "flow": [
                                                        {
                                                            "id": 14,
                                                            "module": "email:ActionSendEmail",
                                                            "version": 6,
                                                            "parameters": {
                                                                "account": 1135136,
                                                                "saveAfterSent": false
                                                            },
                                                            "mapper": {
                                                                "cc": [],
                                                                "to": [
                                                                    "kevin.saner91@hotmail.com"
                                                                ],
                                                                "bcc": [],
                                                                "from": "",
                                                                "text": "Hello Kevin\n\n{{2.`4`}}\n\nPlease find the list of drugs you're supposed to get.\n\n{{11.text}}\n\nBest Regards and get well soon,\nYour medical assistant bot :)",
                                                                "sender": "",
                                                                "headers": [],
                                                                "replyTo": "",
                                                                "subject": "Medical Advice ",
                                                                "priority": "normal",
                                                                "inReplyTo": "",
                                                                "references": [],
                                                                "attachments": [],
                                                                "contentType": "text"
                                                            },
                                                            "metadata": {
                                                                "designer": {
                                                                    "x": 2700,
                                                                    "y": 600
                                                                },
                                                                "restore": {
                                                                    "cc": {
                                                                        "mode": "chose",
                                                                        "items": []
                                                                    },
                                                                    "to": {
                                                                        "mode": "chose",
                                                                        "items": [
                                                                            "undefined"
                                                                        ]
                                                                    },
                                                                    "bcc": {
                                                                        "mode": "chose",
                                                                        "items": []
                                                                    },
                                                                    "account": {
                                                                        "label": "read-patient-data (kevin.saner91@gmail.com)"
                                                                    },
                                                                    "headers": {
                                                                        "items": []
                                                                    },
                                                                    "priority": {
                                                                        "label": "Normal"
                                                                    },
                                                                    "references": {
                                                                        "mode": "chose",
                                                                        "items": []
                                                                    },
                                                                    "attachments": {
                                                                        "mode": "chose",
                                                                        "items": []
                                                                    },
                                                                    "contentType": {
                                                                        "label": "Plaintext"
                                                                    },
                                                                    "saveAfterSent": {
                                                                        "label": "No"
                                                                    }
                                                                },
                                                                "parameters": [
                                                                    {
                                                                        "name": "account",
                                                                        "type": "account",
                                                                        "label": "Connection",
                                                                        "required": true
                                                                    },
                                                                    {
                                                                        "name": "saveAfterSent",
                                                                        "type": "select",
                                                                        "label": "Save message after sending",
                                                                        "required": true,
                                                                        "validate": {
                                                                            "enum": [
                                                                                true,
                                                                                false
                                                                            ]
                                                                        }
                                                                    }
                                                                ],
                                                                "expect": [
                                                                    {
                                                                        "name": "to",
                                                                        "spec": {
                                                                            "name": "email",
                                                                            "type": "email",
                                                                            "label": "Email address",
                                                                            "required": true
                                                                        },
                                                                        "type": "array",
                                                                        "label": "To",
                                                                        "labels": {
                                                                            "add": "Add a recipient",
                                                                            "edit": "Edit a recipient"
                                                                        },
                                                                        "required": true
                                                                    },
                                                                    {
                                                                        "name": "subject",
                                                                        "type": "text",
                                                                        "label": "Subject"
                                                                    },
                                                                    {
                                                                        "name": "contentType",
                                                                        "type": "select",
                                                                        "label": "Content Type",
                                                                        "required": true,
                                                                        "validate": {
                                                                            "enum": [
                                                                                "html",
                                                                                "text"
                                                                            ]
                                                                        }
                                                                    },
                                                                    {
                                                                        "name": "attachments",
                                                                        "spec": [
                                                                            {
                                                                                "name": "fileName",
                                                                                "type": "filename",
                                                                                "label": "File name",
                                                                                "required": true,
                                                                                "semantic": "file:name"
                                                                            },
                                                                            {
                                                                                "name": "data",
                                                                                "type": "buffer",
                                                                                "label": "Data",
                                                                                "required": true,
                                                                                "semantic": "file:data"
                                                                            },
                                                                            {
                                                                                "name": "cid",
                                                                                "type": "text",
                                                                                "label": "Content-ID"
                                                                            }
                                                                        ],
                                                                        "type": "array",
                                                                        "label": "Attachments",
                                                                        "labels": {
                                                                            "add": "Add an attachment",
                                                                            "edit": "Edit an attachment"
                                                                        }
                                                                    },
                                                                    {
                                                                        "name": "cc",
                                                                        "spec": {
                                                                            "name": "email",
                                                                            "type": "email",
                                                                            "label": "Email address"
                                                                        },
                                                                        "type": "array",
                                                                        "label": "Copy recipient",
                                                                        "labels": {
                                                                            "add": "Add a copy recipient",
                                                                            "edit": "Edit a copy recipient"
                                                                        }
                                                                    },
                                                                    {
                                                                        "name": "bcc",
                                                                        "spec": {
                                                                            "name": "email",
                                                                            "type": "email",
                                                                            "label": "Email address"
                                                                        },
                                                                        "type": "array",
                                                                        "label": "Blind copy recipient",
                                                                        "labels": {
                                                                            "add": "Add a blind copy recipient",
                                                                            "edit": "Edit a blind copy recipient"
                                                                        }
                                                                    },
                                                                    {
                                                                        "name": "sender",
                                                                        "type": "email",
                                                                        "label": "Sender"
                                                                    },
                                                                    {
                                                                        "name": "replyTo",
                                                                        "type": "text",
                                                                        "label": "Reply-To"
                                                                    },
                                                                    {
                                                                        "name": "inReplyTo",
                                                                        "type": "text",
                                                                        "label": "In-Reply-To"
                                                                    },
                                                                    {
                                                                        "name": "references",
                                                                        "spec": {
                                                                            "type": "text",
                                                                            "label": "Reference",
                                                                            "required": true
                                                                        },
                                                                        "type": "array",
                                                                        "label": "References"
                                                                    },
                                                                    {
                                                                        "name": "priority",
                                                                        "type": "select",
                                                                        "label": "Priority",
                                                                        "validate": {
                                                                            "enum": [
                                                                                "high",
                                                                                "normal",
                                                                                "low"
                                                                            ]
                                                                        }
                                                                    },
                                                                    {
                                                                        "name": "headers",
                                                                        "spec": [
                                                                            {
                                                                                "name": "key",
                                                                                "type": "text",
                                                                                "label": "Key",
                                                                                "required": true
                                                                            },
                                                                            {
                                                                                "name": "value",
                                                                                "type": "text",
                                                                                "label": "Value",
                                                                                "required": true
                                                                            }
                                                                        ],
                                                                        "type": "array",
                                                                        "label": "Headers"
                                                                    },
                                                                    {
                                                                        "name": "from",
                                                                        "type": "text",
                                                                        "label": "From"
                                                                    },
                                                                    {
                                                                        "name": "text",
                                                                        "type": "text",
                                                                        "label": "Content"
                                                                    }
                                                                ]
                                                            }
                                                        }
                                                    ]
                                                }
                                            ]
                                        }
                                    ]
                                }
                            ]
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 20,
                            "module": "gateway:WebhookRespond",
                            "version": 1,
                            "parameters": {},
                            "filter": {
                                "name": "drug-not-required",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{2.`1`}}",
                                            "b": "",
                                            "o": "notexist"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "body": "{\n\"Advice\": \"{{2.`2`}}\",\n}",
                                "status": "200",
                                "headers": [
                                    {
                                        "key": "Content-Type",
                                        "value": "application/json"
                                    }
                                ]
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 900
                                },
                                "restore": {
                                    "headers": {
                                        "items": [
                                            "undefined"
                                        ]
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "status",
                                        "type": "uinteger",
                                        "label": "Status",
                                        "required": true,
                                        "validate": {
                                            "min": 100
                                        }
                                    },
                                    {
                                        "name": "body",
                                        "type": "any",
                                        "label": "Body"
                                    },
                                    {
                                        "name": "headers",
                                        "spec": [
                                            {
                                                "name": "key",
                                                "type": "text",
                                                "label": "Key",
                                                "required": true,
                                                "validate": {
                                                    "max": 256
                                                }
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value",
                                                "required": true,
                                                "validate": {
                                                    "max": 4096
                                                }
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Custom headers",
                                        "validate": {
                                            "maxItems": 16
                                        }
                                    }
                                ],
                                "advanced": true
                            }
                        },
                        {
                            "id": 19,
                            "module": "email:ActionSendEmail",
                            "version": 6,
                            "parameters": {
                                "account": 1135136,
                                "saveAfterSent": false
                            },
                            "mapper": {
                                "cc": [],
                                "to": [
                                    "kevin.saner91@hotmail.com"
                                ],
                                "bcc": [],
                                "from": "",
                                "text": "Hello Kevin\n\nPlease {{2.`2`}}\n\nBest Regards and get well soon,\nYour medical assistant bot :)",
                                "sender": "",
                                "headers": [],
                                "replyTo": "",
                                "subject": "Medical Advice ",
                                "priority": "normal",
                                "inReplyTo": "",
                                "references": [],
                                "attachments": [],
                                "contentType": "text"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 900
                                },
                                "restore": {
                                    "cc": {
                                        "mode": "chose",
                                        "items": []
                                    },
                                    "to": {
                                        "mode": "chose",
                                        "items": [
                                            "undefined"
                                        ]
                                    },
                                    "bcc": {
                                        "mode": "chose",
                                        "items": []
                                    },
                                    "account": {
                                        "label": "read-patient-data (kevin.saner91@gmail.com)"
                                    },
                                    "headers": {
                                        "items": []
                                    },
                                    "priority": {
                                        "label": "Normal"
                                    },
                                    "references": {
                                        "mode": "chose",
                                        "items": []
                                    },
                                    "attachments": {
                                        "mode": "chose",
                                        "items": []
                                    },
                                    "contentType": {
                                        "label": "Plaintext"
                                    },
                                    "saveAfterSent": {
                                        "label": "No"
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "account",
                                        "type": "account",
                                        "label": "Connection",
                                        "required": true
                                    },
                                    {
                                        "name": "saveAfterSent",
                                        "type": "select",
                                        "label": "Save message after sending",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "to",
                                        "spec": {
                                            "name": "email",
                                            "type": "email",
                                            "label": "Email address",
                                            "required": true
                                        },
                                        "type": "array",
                                        "label": "To",
                                        "labels": {
                                            "add": "Add a recipient",
                                            "edit": "Edit a recipient"
                                        },
                                        "required": true
                                    },
                                    {
                                        "name": "subject",
                                        "type": "text",
                                        "label": "Subject"
                                    },
                                    {
                                        "name": "contentType",
                                        "type": "select",
                                        "label": "Content Type",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "html",
                                                "text"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "attachments",
                                        "spec": [
                                            {
                                                "name": "fileName",
                                                "type": "filename",
                                                "label": "File name",
                                                "required": true,
                                                "semantic": "file:name"
                                            },
                                            {
                                                "name": "data",
                                                "type": "buffer",
                                                "label": "Data",
                                                "required": true,
                                                "semantic": "file:data"
                                            },
                                            {
                                                "name": "cid",
                                                "type": "text",
                                                "label": "Content-ID"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Attachments",
                                        "labels": {
                                            "add": "Add an attachment",
                                            "edit": "Edit an attachment"
                                        }
                                    },
                                    {
                                        "name": "cc",
                                        "spec": {
                                            "name": "email",
                                            "type": "email",
                                            "label": "Email address"
                                        },
                                        "type": "array",
                                        "label": "Copy recipient",
                                        "labels": {
                                            "add": "Add a copy recipient",
                                            "edit": "Edit a copy recipient"
                                        }
                                    },
                                    {
                                        "name": "bcc",
                                        "spec": {
                                            "name": "email",
                                            "type": "email",
                                            "label": "Email address"
                                        },
                                        "type": "array",
                                        "label": "Blind copy recipient",
                                        "labels": {
                                            "add": "Add a blind copy recipient",
                                            "edit": "Edit a blind copy recipient"
                                        }
                                    },
                                    {
                                        "name": "sender",
                                        "type": "email",
                                        "label": "Sender"
                                    },
                                    {
                                        "name": "replyTo",
                                        "type": "text",
                                        "label": "Reply-To"
                                    },
                                    {
                                        "name": "inReplyTo",
                                        "type": "text",
                                        "label": "In-Reply-To"
                                    },
                                    {
                                        "name": "references",
                                        "spec": {
                                            "type": "text",
                                            "label": "Reference",
                                            "required": true
                                        },
                                        "type": "array",
                                        "label": "References"
                                    },
                                    {
                                        "name": "priority",
                                        "type": "select",
                                        "label": "Priority",
                                        "validate": {
                                            "enum": [
                                                "high",
                                                "normal",
                                                "low"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "headers",
                                        "spec": [
                                            {
                                                "name": "key",
                                                "type": "text",
                                                "label": "Key",
                                                "required": true
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value",
                                                "required": true
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Headers"
                                    },
                                    {
                                        "name": "from",
                                        "type": "text",
                                        "label": "From"
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Content"
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": false,
            "sequential": false,
            "confidential": false,
            "dataloss": false,
            "dlq": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.integromat.com"
    }
}