TO-BE Process/Integromat/checkAppointmentProposal.json
{
    "name": "Check Appointment Availability",
    "flow": [
        {
            "id": 1,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 375831,
                "maxResults": 2
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": -749,
                    "y": -33
                },
                "restore": {
                    "hook": {
                        "label": "checkAppointmentProposal"
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ],
                "interface": [
                    {
                        "name": "value",
                        "type": "text"
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 3,
            "module": "util:SetVariable",
            "version": 1,
            "parameters": {},
            "mapper": {
                "name": "appointmentTimestamp",
                "scope": "roundtrip",
                "value": "{{parseDate(1.value; \"\"\"DD/MM/YYYY HH:mm\"\"\")}}"
            },
            "metadata": {
                "designer": {
                    "x": -468,
                    "y": -32
                },
                "restore": {
                    "scope": {
                        "label": "One cycle"
                    }
                },
                "expect": [
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Variable name",
                        "required": true
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    },
                    {
                        "name": "value",
                        "type": "any",
                        "label": "Variable value"
                    }
                ],
                "interface": [
                    {
                        "name": "value",
                        "type": "any",
                        "label": "appointmentTimestamp"
                    }
                ]
            }
        },
        {
            "id": 9,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": -182,
                    "y": -33
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 2,
                            "module": "google-calendar:ActionGetEvents",
                            "version": 4,
                            "parameters": {
                                "account": 1135164,
                                "continueWhenNoRes": false
                            },
                            "mapper": {
                                "query": "",
                                "orderBy": "",
                                "timeMax": "{{addHours(formatDate(3.value; \"DD.MM.YYYY HH:mm\"); 1)}}",
                                "timeMin": "{{addHours(formatDate(3.value; \"DD.MM.YYYY HH:mm\"); -1)}}",
                                "calendarId": "caepb2b68n6fki1q6uqh6l2ht4@group.calendar.google.com",
                                "maxResults": "50",
                                "singleEvents": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 127,
                                    "y": -28
                                },
                                "restore": {
                                    "account": {
                                        "label": "BurrataSpreadsheet (martinpeschmitz@gmail.com)"
                                    },
                                    "orderBy": {
                                        "label": ""
                                    },
                                    "calendarId": {
                                        "mode": "chose",
                                        "label": "Burrata_Doc"
                                    },
                                    "singleEvents": {
                                        "mode": "chose"
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "account",
                                        "type": "account",
                                        "label": "Connection",
                                        "required": true
                                    },
                                    {
                                        "name": "continueWhenNoRes",
                                        "type": "boolean",
                                        "label": "Continue the execution of the route even if the module returns no results",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "timeMin",
                                        "type": "date",
                                        "label": "Start date"
                                    },
                                    {
                                        "name": "timeMax",
                                        "type": "date",
                                        "label": "End date"
                                    },
                                    {
                                        "name": "singleEvents",
                                        "type": "boolean",
                                        "label": "Single events",
                                        "required": true
                                    },
                                    {
                                        "name": "query",
                                        "type": "text",
                                        "label": "Query"
                                    },
                                    {
                                        "name": "orderBy",
                                        "type": "select",
                                        "label": "Order by",
                                        "validate": {
                                            "enum": [
                                                "startTime",
                                                "updated"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "maxResults",
                                        "type": "uinteger",
                                        "label": "Maximum number of returned events"
                                    },
                                    {
                                        "name": "calendarId",
                                        "type": "select",
                                        "label": "Calendar",
                                        "required": true
                                    }
                                ]
                            }
                        },
                        {
                            "id": 4,
                            "module": "builtin:BasicRouter",
                            "version": 1,
                            "parameters": {
                                "else": 0
                            },
                            "mapper": null,
                            "metadata": {
                                "designer": {
                                    "x": 480,
                                    "y": -30
                                }
                            },
                            "routes": [
                                {
                                    "flow": [
                                        {
                                            "id": 5,
                                            "module": "gateway:WebhookRespond",
                                            "version": 1,
                                            "parameters": {},
                                            "filter": {
                                                "name": "possibleAppointment",
                                                "conditions": [
                                                    [
                                                        {
                                                            "a": "{{2.start}}",
                                                            "b": "{{3.value}}",
                                                            "o": "date:notequal"
                                                        },
                                                        {
                                                            "a": "{{2.start}}",
                                                            "b": "{{addHours(3.value; 1)}}",
                                                            "o": "date:greaterorequal"
                                                        }
                                                    ],
                                                    [
                                                        {
                                                            "a": "{{2.start}}",
                                                            "b": "{{3.value}}",
                                                            "o": "date:notequal"
                                                        },
                                                        {
                                                            "a": "{{2.start}}",
                                                            "b": "{{addHours(3.value; -1)}}",
                                                            "o": "date:lessorequal"
                                                        }
                                                    ],
                                                    [
                                                        {
                                                            "a": "{{2.id}}",
                                                            "b": "",
                                                            "o": "notexist"
                                                        }
                                                    ]
                                                ]
                                            },
                                            "mapper": {
                                                "body": "{\n\"appointmentPossible\":true\n\"reason\": \"free\"\n}",
                                                "status": "200",
                                                "headers": [
                                                    {
                                                        "key": "Content-Type",
                                                        "value": "application/json"
                                                    }
                                                ]
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 798,
                                                    "y": -198
                                                },
                                                "restore": {
                                                    "headers": {
                                                        "items": [
                                                            "undefined"
                                                        ]
                                                    }
                                                },
                                                "expect": [
                                                    {
                                                        "name": "status",
                                                        "type": "uinteger",
                                                        "label": "Status",
                                                        "required": true,
                                                        "validate": {
                                                            "min": 100
                                                        }
                                                    },
                                                    {
                                                        "name": "body",
                                                        "type": "any",
                                                        "label": "Body"
                                                    },
                                                    {
                                                        "name": "headers",
                                                        "spec": [
                                                            {
                                                                "name": "key",
                                                                "type": "text",
                                                                "label": "Key",
                                                                "required": true,
                                                                "validate": {
                                                                    "max": 256
                                                                }
                                                            },
                                                            {
                                                                "name": "value",
                                                                "type": "text",
                                                                "label": "Value",
                                                                "required": true,
                                                                "validate": {
                                                                    "max": 4096
                                                                }
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Custom headers",
                                                        "validate": {
                                                            "maxItems": 16
                                                        }
                                                    }
                                                ],
                                                "advanced": true
                                            }
                                        }
                                    ]
                                },
                                {
                                    "flow": [
                                        {
                                            "id": 6,
                                            "module": "gateway:WebhookRespond",
                                            "version": 1,
                                            "parameters": {},
                                            "filter": {
                                                "name": "timeBlocked",
                                                "conditions": [
                                                    [
                                                        {
                                                            "a": "{{2.end}}",
                                                            "b": "{{addHours(3.value; 1)}}",
                                                            "o": "date:less"
                                                        },
                                                        {
                                                            "a": "{{2.start}}",
                                                            "b": "{{addHours(3.value; -1)}}",
                                                            "o": "date:greater"
                                                        }
                                                    ],
                                                    [
                                                        {
                                                            "a": "{{2.start}}",
                                                            "b": "{{3.value}}",
                                                            "o": "date:equal"
                                                        }
                                                    ]
                                                ]
                                            },
                                            "mapper": {
                                                "body": "{\n\"appointmentPossible\":false\n\"reason\": \"blocked\"\n}",
                                                "status": "200",
                                                "headers": [
                                                    {
                                                        "key": "Content-Type",
                                                        "value": "application/json"
                                                    }
                                                ]
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 813,
                                                    "y": 108
                                                },
                                                "restore": {
                                                    "headers": {
                                                        "items": [
                                                            "undefined"
                                                        ]
                                                    }
                                                },
                                                "expect": [
                                                    {
                                                        "name": "status",
                                                        "type": "uinteger",
                                                        "label": "Status",
                                                        "required": true,
                                                        "validate": {
                                                            "min": 100
                                                        }
                                                    },
                                                    {
                                                        "name": "body",
                                                        "type": "any",
                                                        "label": "Body"
                                                    },
                                                    {
                                                        "name": "headers",
                                                        "spec": [
                                                            {
                                                                "name": "key",
                                                                "type": "text",
                                                                "label": "Key",
                                                                "required": true,
                                                                "validate": {
                                                                    "max": 256
                                                                }
                                                            },
                                                            {
                                                                "name": "value",
                                                                "type": "text",
                                                                "label": "Value",
                                                                "required": true,
                                                                "validate": {
                                                                    "max": 4096
                                                                }
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Custom headers",
                                                        "validate": {
                                                            "maxItems": 16
                                                        }
                                                    }
                                                ],
                                                "advanced": true
                                            }
                                        }
                                    ]
                                }
                            ]
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 10,
                            "module": "gateway:WebhookRespond",
                            "version": 1,
                            "parameters": {},
                            "filter": {
                                "name": "outsideBusinessHours",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{formatDate(3.value; \"HH:mm\")}}",
                                            "b": "{{formatDate(parseDate(\"\"\"08:00\"\"\"; \"HH:mm\"); \"HH:mm\")}}",
                                            "o": "time:less"
                                        }
                                    ],
                                    [
                                        {
                                            "a": "{{formatDate(3.value; \"HH:mm\")}}",
                                            "b": "{{formatDate(parseDate(\"\"\"17:00\"\"\"; \"HH:mm\"); \"HH:mm\")}}",
                                            "o": "time:greater"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "body": "{\n\"appointmentPossible\":false\n\"reason\": \"outsideBusinessHours\"\n}",
                                "status": "200",
                                "headers": [
                                    {
                                        "key": "Content-Type",
                                        "value": "application/json"
                                    }
                                ]
                            },
                            "metadata": {
                                "designer": {
                                    "x": -179,
                                    "y": -355
                                },
                                "restore": {
                                    "headers": {
                                        "items": [
                                            "undefined"
                                        ]
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "status",
                                        "type": "uinteger",
                                        "label": "Status",
                                        "required": true,
                                        "validate": {
                                            "min": 100
                                        }
                                    },
                                    {
                                        "name": "body",
                                        "type": "any",
                                        "label": "Body"
                                    },
                                    {
                                        "name": "headers",
                                        "spec": [
                                            {
                                                "name": "key",
                                                "type": "text",
                                                "label": "Key",
                                                "required": true,
                                                "validate": {
                                                    "max": 256
                                                }
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value",
                                                "required": true,
                                                "validate": {
                                                    "max": 4096
                                                }
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Custom headers",
                                        "validate": {
                                            "maxItems": 16
                                        }
                                    }
                                ],
                                "advanced": true
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": false,
            "sequential": false,
            "confidential": false,
            "dataloss": false,
            "dlq": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.integromat.com"
    }
}