TO-BE Process/Integromat/get-patient.json
{
    "name": "Get Patient",
    "flow": [
        {
            "id": 13,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 361739,
                "maxResults": 2
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 150
                },
                "restore": {
                    "hook": {
                        "label": "get-patient"
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ],
                "interface": [
                    {
                        "name": "InsuranceNumber",
                        "type": "text"
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "google-sheets:filterRows",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 1135136
            },
            "mapper": {
                "filter": [
                    [
                        {
                            "a": "A",
                            "b": "{{13.InsuranceNumber}}",
                            "o": "text:equal"
                        }
                    ]
                ],
                "sheetId": "Patients - Martin",
                "sortOrder": "asc",
                "spreadsheetId": "1uSmTeJnqbJVXbpa7dm8LQsH-BlIwQ-0_-VpWshq6m6Q",
                "tableFirstRow": "A1:Z1",
                "includesHeaders": true,
                "valueRenderOption": "FORMATTED_VALUE",
                "dateTimeRenderOption": "FORMATTED_STRING"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 150
                },
                "restore": {
                    "orderBy": {
                        "mode": "chose",
                        "label": ""
                    },
                    "sheetId": {
                        "mode": "chose",
                        "label": "Patients - Martin"
                    },
                    "sortOrder": {
                        "mode": "chose",
                        "label": "Ascending"
                    },
                    "__IMTCONN__": {
                        "label": "read-patient-data (kevin.saner91@gmail.com)"
                    },
                    "spreadsheetId": {
                        "mode": "chose",
                        "label": "BurrataTest"
                    },
                    "tableFirstRow": {
                        "label": "A-Z"
                    },
                    "includesHeaders": {
                        "mode": "chose",
                        "label": "Yes"
                    },
                    "valueRenderOption": {
                        "mode": "chose",
                        "label": "Formatted value"
                    },
                    "dateTimeRenderOption": {
                        "mode": "chose",
                        "label": "Formatted string"
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "spreadsheetId",
                        "type": "select",
                        "label": "Spreadsheet",
                        "required": true
                    },
                    {
                        "name": "valueRenderOption",
                        "type": "select",
                        "label": "Value render option",
                        "validate": {
                            "enum": [
                                "FORMATTED_VALUE",
                                "UNFORMATTED_VALUE",
                                "FORMULA"
                            ]
                        }
                    },
                    {
                        "name": "dateTimeRenderOption",
                        "type": "select",
                        "label": "Date and time render option",
                        "validate": {
                            "enum": [
                                "SERIAL_NUMBER",
                                "FORMATTED_STRING"
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "number",
                        "label": "Maximum number of returned rows"
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "tableFirstRow",
                        "type": "select",
                        "label": "Column range",
                        "required": true,
                        "validate": {
                            "enum": [
                                "A1:Z1",
                                "A1:BZ1",
                                "A1:CZ1",
                                "A1:DZ1",
                                "A1:MZ1",
                                "A1:ZZ1"
                            ]
                        }
                    },
                    {
                        "name": "filter",
                        "type": "filter",
                        "label": "Filter",
                        "options": {
                            "store": "rpc://google-sheets@2/rpcGetFilterKeys?includesHeaders=true"
                        }
                    },
                    {
                        "name": "sortOrder",
                        "type": "select",
                        "label": "Sort order",
                        "validate": {
                            "enum": [
                                "asc",
                                "desc"
                            ]
                        }
                    },
                    {
                        "name": "orderBy",
                        "type": "select",
                        "label": "Order by"
                    }
                ],
                "interface": [
                    {
                        "name": "__ROW_NUMBER__",
                        "type": "number",
                        "label": "Row number"
                    },
                    {
                        "name": "__SPREADSHEET_ID__",
                        "type": "text",
                        "label": "Spreadsheet ID"
                    },
                    {
                        "name": "__SHEET__",
                        "type": "text",
                        "label": "Sheet"
                    },
                    {
                        "name": "0",
                        "type": "text",
                        "label": "InsuranceNumber (A)"
                    },
                    {
                        "name": "1",
                        "type": "text",
                        "label": "FirstName (B)"
                    },
                    {
                        "name": "2",
                        "type": "text",
                        "label": "LastName (C)"
                    },
                    {
                        "name": "3",
                        "type": "text",
                        "label": "FullName (D)"
                    },
                    {
                        "name": "4",
                        "type": "text",
                        "label": "Gender (E)"
                    },
                    {
                        "name": "5",
                        "type": "text",
                        "label": "Date of Birth (F)"
                    },
                    {
                        "name": "6",
                        "type": "text",
                        "label": "Age (G)"
                    },
                    {
                        "name": "7",
                        "type": "text",
                        "label": "E-Mail (H)"
                    },
                    {
                        "name": "8",
                        "type": "text",
                        "label": "Address (I)"
                    },
                    {
                        "name": "9",
                        "type": "text",
                        "label": "(J)"
                    },
                    {
                        "name": "10",
                        "type": "text",
                        "label": "(K)"
                    },
                    {
                        "name": "11",
                        "type": "text",
                        "label": "(L)"
                    },
                    {
                        "name": "12",
                        "type": "text",
                        "label": "(M)"
                    },
                    {
                        "name": "13",
                        "type": "text",
                        "label": "(N)"
                    },
                    {
                        "name": "14",
                        "type": "text",
                        "label": "(O)"
                    },
                    {
                        "name": "15",
                        "type": "text",
                        "label": "(P)"
                    },
                    {
                        "name": "16",
                        "type": "text",
                        "label": "(Q)"
                    },
                    {
                        "name": "17",
                        "type": "text",
                        "label": "(R)"
                    },
                    {
                        "name": "18",
                        "type": "text",
                        "label": "(S)"
                    },
                    {
                        "name": "19",
                        "type": "text",
                        "label": "(T)"
                    },
                    {
                        "name": "20",
                        "type": "text",
                        "label": "(U)"
                    },
                    {
                        "name": "21",
                        "type": "text",
                        "label": "(V)"
                    },
                    {
                        "name": "22",
                        "type": "text",
                        "label": "(W)"
                    },
                    {
                        "name": "23",
                        "type": "text",
                        "label": "(X)"
                    },
                    {
                        "name": "24",
                        "type": "text",
                        "label": "(Y)"
                    },
                    {
                        "name": "25",
                        "type": "text",
                        "label": "(Z)"
                    }
                ]
            }
        },
        {
            "id": 9,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 150
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 3,
                            "module": "util:TextAggregator",
                            "version": 1,
                            "parameters": {
                                "feeder": 2,
                                "rowSeparator": "other",
                                "otherRowSeparator": ""
                            },
                            "filter": {
                                "name": "patient-exists",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{2.`3`}}",
                                            "b": "",
                                            "o": "exist"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "value": "{{2.`3`}};"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 0
                                },
                                "restore": {
                                    "feeder": {
                                        "label": "Google Sheets - Search Rows [2]"
                                    },
                                    "rowSeparator": {
                                        "label": "Other"
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "rowSeparator",
                                        "type": "select",
                                        "label": "Row separator",
                                        "validate": {
                                            "enum": [
                                                "\n",
                                                "\t",
                                                "other"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "otherRowSeparator",
                                        "type": "text",
                                        "label": "Separator"
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "value",
                                        "type": "text",
                                        "label": "Text",
                                        "multiline": true
                                    }
                                ],
                                "advanced": true
                            },
                            "flags": {
                                "stopIfEmpty": true
                            }
                        },
                        {
                            "id": 5,
                            "module": "util:SetVariable",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "name": "patientInformation",
                                "scope": "roundtrip",
                                "value": "{{3.text}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 0
                                },
                                "restore": {
                                    "scope": {
                                        "label": "One cycle"
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Variable name",
                                        "required": true
                                    },
                                    {
                                        "name": "scope",
                                        "type": "select",
                                        "label": "Variable lifetime",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "roundtrip",
                                                "execution"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "value",
                                        "type": "any",
                                        "label": "Variable value"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "value",
                                        "type": "any",
                                        "label": "patientInformation"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 6,
                            "module": "gateway:WebhookRespond",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "body": "{\n\"PatientInformation\" : \"{{5.value}}\"\n}",
                                "status": "200",
                                "headers": [
                                    {
                                        "key": "Content-Type",
                                        "value": "application/json"
                                    }
                                ]
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": 0
                                },
                                "restore": {
                                    "headers": {
                                        "items": [
                                            "undefined"
                                        ]
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "status",
                                        "type": "uinteger",
                                        "label": "Status",
                                        "required": true,
                                        "validate": {
                                            "min": 100
                                        }
                                    },
                                    {
                                        "name": "body",
                                        "type": "any",
                                        "label": "Body"
                                    },
                                    {
                                        "name": "headers",
                                        "spec": [
                                            {
                                                "name": "key",
                                                "type": "text",
                                                "label": "Key",
                                                "required": true,
                                                "validate": {
                                                    "max": 256
                                                }
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value",
                                                "required": true,
                                                "validate": {
                                                    "max": 4096
                                                }
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Custom headers",
                                        "validate": {
                                            "maxItems": 16
                                        }
                                    }
                                ],
                                "advanced": true
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 10,
                            "module": "gateway:WebhookRespond",
                            "version": 1,
                            "parameters": {},
                            "filter": {
                                "name": "patient-does-not-exist",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{2.`3`}}",
                                            "b": "",
                                            "o": "notexist"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "body": "{\n\"StandardAnswer\" : \"no patient found\"\n}\n",
                                "status": "200",
                                "headers": [
                                    {
                                        "key": "Content-Type",
                                        "value": "application/json"
                                    }
                                ]
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 300
                                },
                                "restore": {
                                    "headers": {
                                        "items": [
                                            "undefined"
                                        ]
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "status",
                                        "type": "uinteger",
                                        "label": "Status",
                                        "required": true,
                                        "validate": {
                                            "min": 100
                                        }
                                    },
                                    {
                                        "name": "body",
                                        "type": "any",
                                        "label": "Body"
                                    },
                                    {
                                        "name": "headers",
                                        "spec": [
                                            {
                                                "name": "key",
                                                "type": "text",
                                                "label": "Key",
                                                "required": true,
                                                "validate": {
                                                    "max": 256
                                                }
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value",
                                                "required": true,
                                                "validate": {
                                                    "max": 4096
                                                }
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Custom headers",
                                        "validate": {
                                            "maxItems": 16
                                        }
                                    }
                                ],
                                "advanced": true
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": false,
            "sequential": false,
            "confidential": false,
            "dataloss": false,
            "dlq": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.integromat.com"
    }
}