TO-BE Process/Integromat/ScheduleAppointment.json
{
    "name": "Set appointment and inform patient",
    "flow": [
        {
            "id": 1,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 368968,
                "maxResults": 2
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": -695,
                    "y": -36
                },
                "restore": {
                    "hook": {
                        "label": "scheduleAppointment"
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ],
                "interface": [
                    {
                        "name": "patient",
                        "type": "text"
                    },
                    {
                        "name": "date",
                        "type": "text"
                    },
                    {
                        "name": "start",
                        "type": "text"
                    },
                    {
                        "name": "end",
                        "type": "text"
                    },
                    {
                        "name": "email",
                        "type": "text"
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 2,
            "module": "google-calendar:ActionCreateEvent",
            "version": 4,
            "parameters": {
                "account": 1152718
            },
            "mapper": {
                "end": "{{parseDate(1.date + \"-\" + 1.end; \"DD.MM.YYYY-HH:mm\")}}",
                "start": "{{parseDate(1.date + \"-\" + 1.start; \"DD.MM.YYYY-HH:mm\")}}",
                "colorId": 3,
                "summary": "{{1.patient}}",
                "location": "@DoctorsOffice",
                "attendees": [],
                "reminders": false,
                "calendarId": "burrata.digibp.bot@gmail.com",
                "recurrence": [],
                "visibility": "default",
                "allDayEvent": false,
                "description": "Appointment for {{1.patient}} for diagnose or treatment ",
                "transparency": "opaque",
                "guestsCanModify": false,
                "sendNotifications": false,
                "remindersOverrides": []
            },
            "metadata": {
                "designer": {
                    "x": -404,
                    "y": -40
                },
                "restore": {
                    "account": {
                        "label": "Burrata"
                    },
                    "colorId": {
                        "mode": "chose",
                        "label": "#dbadff (#1d1d1d)"
                    },
                    "attendees": {
                        "mode": "chose",
                        "items": []
                    },
                    "reminders": {
                        "mode": "chose"
                    },
                    "calendarId": {
                        "mode": "chose",
                        "label": "burrata.digibp.bot@gmail.com"
                    },
                    "recurrence": {
                        "items": []
                    },
                    "visibility": {
                        "label": "Default"
                    },
                    "allDayEvent": {
                        "mode": "chose"
                    },
                    "transparency": {
                        "label": "Busy"
                    },
                    "remindersOverrides": {
                        "items": []
                    }
                },
                "parameters": [
                    {
                        "name": "account",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "summary",
                        "type": "text",
                        "label": "Event name",
                        "required": true,
                        "multiline": true
                    },
                    {
                        "name": "allDayEvent",
                        "type": "boolean",
                        "label": "All day event",
                        "required": true
                    },
                    {
                        "name": "start",
                        "type": "date",
                        "label": "Start date",
                        "required": true
                    },
                    {
                        "name": "end",
                        "type": "date",
                        "label": "End date",
                        "required": true
                    },
                    {
                        "name": "description",
                        "type": "text",
                        "label": "Description"
                    },
                    {
                        "name": "location",
                        "type": "text",
                        "label": "Location"
                    },
                    {
                        "name": "reminders",
                        "type": "boolean",
                        "label": "Use the default reminder settings for this event."
                    },
                    {
                        "name": "remindersOverrides",
                        "spec": [
                            {
                                "name": "method",
                                "type": "select",
                                "label": "Method",
                                "options": [
                                    {
                                        "label": "Email",
                                        "value": "email"
                                    },
                                    {
                                        "label": "SMS",
                                        "value": "sms"
                                    },
                                    {
                                        "label": "Popup",
                                        "value": "popup"
                                    }
                                ],
                                "required": true
                            },
                            {
                                "name": "minutes",
                                "type": "uinteger",
                                "label": "Minutes before event",
                                "required": true,
                                "validate": {
                                    "max": 40320
                                }
                            }
                        ],
                        "type": "array",
                        "label": "Reminders"
                    },
                    {
                        "name": "attendees",
                        "spec": [
                            {
                                "name": "displayName",
                                "type": "text",
                                "label": "Name"
                            },
                            {
                                "name": "email",
                                "type": "email",
                                "label": "Email",
                                "required": true
                            }
                        ],
                        "type": "array",
                        "label": "Attendees",
                        "labels": {
                            "add": "Add an attendee",
                            "edit": "Edit an attendee",
                            "field": "Attendee"
                        }
                    },
                    {
                        "name": "transparency",
                        "type": "select",
                        "label": "Show me as",
                        "required": true,
                        "validate": {
                            "enum": [
                                "opaque",
                                "transparent"
                            ]
                        }
                    },
                    {
                        "name": "visibility",
                        "type": "select",
                        "label": "Visibility",
                        "required": true,
                        "validate": {
                            "enum": [
                                "default",
                                "public",
                                "private"
                            ]
                        }
                    },
                    {
                        "name": "sendNotifications",
                        "type": "boolean",
                        "label": "Send notifications about the creation of the new event",
                        "required": true
                    },
                    {
                        "name": "guestsCanModify",
                        "type": "boolean",
                        "label": "Guests can modify the event",
                        "required": true
                    },
                    {
                        "name": "recurrence",
                        "type": "array",
                        "label": "Recurrence"
                    },
                    {
                        "name": "calendarId",
                        "type": "select",
                        "label": "Calendar",
                        "required": true
                    },
                    {
                        "name": "colorId",
                        "type": "select",
                        "label": "Color"
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 3,
            "module": "google-email:ActionSendEmail",
            "version": 1,
            "parameters": {
                "account": 1152718
            },
            "mapper": {
                "cc": [],
                "to": [
                    "{{1.email}}"
                ],
                "bcc": [],
                "html": "Dear {{1.patient}}\n<p>\nyour doctors appointment has been scheduled for {{formatDate(parseDate(1.date; \"DD.MM.YYYY\"); \"MMM DD YYYY\")}} from {{1.start}} to {{1.end}}.\n<p>\nPlease make sure to be there in time.\n<p>\nYours sincerely\n<p>\nMedical chat bot service",
                "subject": "Your appointment has been scheduled",
                "attachments": []
            },
            "metadata": {
                "designer": {
                    "x": -116,
                    "y": -40
                },
                "restore": {
                    "cc": {
                        "mode": "chose",
                        "items": []
                    },
                    "to": {
                        "mode": "chose",
                        "items": [
                            "undefined"
                        ]
                    },
                    "bcc": {
                        "mode": "chose",
                        "items": []
                    },
                    "account": {
                        "label": "Burrata (burrata.digibp.bot@gmail.com)"
                    },
                    "attachments": {
                        "mode": "chose",
                        "items": []
                    }
                },
                "parameters": [
                    {
                        "name": "account",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "to",
                        "spec": {
                            "name": " ",
                            "type": "email",
                            "label": "Email address",
                            "required": true
                        },
                        "type": "array",
                        "label": "To",
                        "labels": {
                            "add": "Add a recipient",
                            "edit": "Edit a recipient"
                        },
                        "required": true
                    },
                    {
                        "name": "subject",
                        "type": "text",
                        "label": "Subject"
                    },
                    {
                        "name": "html",
                        "type": "text",
                        "label": "Content"
                    },
                    {
                        "name": "attachments",
                        "spec": [
                            {
                                "name": "fileName",
                                "type": "filename",
                                "label": "File name",
                                "required": true,
                                "semantic": "file:name"
                            },
                            {
                                "name": "data",
                                "type": "buffer",
                                "label": "Data",
                                "required": true,
                                "semantic": "file:data"
                            },
                            {
                                "name": "cid",
                                "type": "text",
                                "label": "Content-ID"
                            }
                        ],
                        "type": "array",
                        "label": "Attachments",
                        "labels": {
                            "add": "Add an attachment",
                            "edit": "Edit an attachment"
                        }
                    },
                    {
                        "name": "cc",
                        "spec": {
                            "type": "email",
                            "label": "Email address"
                        },
                        "type": "array",
                        "label": "Copy recipient",
                        "labels": {
                            "add": "Add a copy recipient",
                            "edit": "Edit a copy recipient"
                        }
                    },
                    {
                        "name": "bcc",
                        "spec": {
                            "type": "email",
                            "label": "Email address"
                        },
                        "type": "array",
                        "label": "Blind copy recipient",
                        "labels": {
                            "add": "Add a blind copy recipient",
                            "edit": "Edit a blind copy recipient"
                        }
                    }
                ]
            }
        }
    ],
    "metadata": {
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": false,
            "sequential": false,
            "confidential": false,
            "dataloss": false,
            "dlq": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.integromat.com"
    }
}