TO-BE Process/Integromat/ScheduleAppointment.json
{
    "name": "Schedule Appointment",
    "flow": [
        {
            "id": 1,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 368894,
                "maxResults": 2
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": -871,
                    "y": -21
                },
                "restore": {
                    "hook": {
                        "label": "scheduleAppointment"
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ],
                "interface": [
                    {
                        "name": "insuranceNumber",
                        "type": "text"
                    },
                    {
                        "name": "appointmentDate",
                        "type": "text"
                    },
                    {
                        "name": "appointmentTime",
                        "type": "text"
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 4,
            "module": "google-sheets:filterRows",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 1135164
            },
            "mapper": {
                "limit": "1",
                "filter": [
                    [
                        {
                            "a": "A",
                            "b": "{{1.insuranceNumber}}",
                            "o": "text:equal"
                        }
                    ]
                ],
                "sheetId": "Patients - Martin",
                "sortOrder": "asc",
                "spreadsheetId": "1uSmTeJnqbJVXbpa7dm8LQsH-BlIwQ-0_-VpWshq6m6Q",
                "tableFirstRow": "A1:Z1",
                "includesHeaders": true,
                "valueRenderOption": "FORMATTED_VALUE",
                "dateTimeRenderOption": "FORMATTED_STRING"
            },
            "metadata": {
                "designer": {
                    "x": -564,
                    "y": -24
                },
                "restore": {
                    "orderBy": {
                        "mode": "chose",
                        "label": ""
                    },
                    "sheetId": {
                        "mode": "chose",
                        "label": "Patients - Martin"
                    },
                    "sortOrder": {
                        "mode": "chose",
                        "label": "Ascending"
                    },
                    "__IMTCONN__": {
                        "label": "BurrataSpreadsheet (martinpeschmitz@gmail.com)"
                    },
                    "spreadsheetId": {
                        "mode": "chose",
                        "label": "BurrataTest"
                    },
                    "tableFirstRow": {
                        "label": "A-Z"
                    },
                    "includesHeaders": {
                        "mode": "chose",
                        "label": "Yes"
                    },
                    "valueRenderOption": {
                        "mode": "chose",
                        "label": "Formatted value"
                    },
                    "dateTimeRenderOption": {
                        "mode": "chose",
                        "label": "Formatted string"
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "spreadsheetId",
                        "type": "select",
                        "label": "Spreadsheet",
                        "required": true
                    },
                    {
                        "name": "valueRenderOption",
                        "type": "select",
                        "label": "Value render option",
                        "validate": {
                            "enum": [
                                "FORMATTED_VALUE",
                                "UNFORMATTED_VALUE",
                                "FORMULA"
                            ]
                        }
                    },
                    {
                        "name": "dateTimeRenderOption",
                        "type": "select",
                        "label": "Date and time render option",
                        "validate": {
                            "enum": [
                                "SERIAL_NUMBER",
                                "FORMATTED_STRING"
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "number",
                        "label": "Maximum number of returned rows"
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "tableFirstRow",
                        "type": "select",
                        "label": "Column range",
                        "required": true,
                        "validate": {
                            "enum": [
                                "A1:Z1",
                                "A1:BZ1",
                                "A1:CZ1",
                                "A1:DZ1",
                                "A1:MZ1",
                                "A1:ZZ1"
                            ]
                        }
                    },
                    {
                        "name": "filter",
                        "type": "filter",
                        "label": "Filter",
                        "options": {
                            "store": "rpc://google-sheets@2/rpcGetFilterKeys?includesHeaders=true"
                        }
                    },
                    {
                        "name": "sortOrder",
                        "type": "select",
                        "label": "Sort order",
                        "validate": {
                            "enum": [
                                "asc",
                                "desc"
                            ]
                        }
                    },
                    {
                        "name": "orderBy",
                        "type": "select",
                        "label": "Order by"
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "type": "uinteger",
                        "label": "Total number of bundles"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "type": "uinteger",
                        "label": "Bundle order position"
                    },
                    {
                        "name": "__ROW_NUMBER__",
                        "type": "number",
                        "label": "Row number"
                    },
                    {
                        "name": "__SPREADSHEET_ID__",
                        "type": "text",
                        "label": "Spreadsheet ID"
                    },
                    {
                        "name": "__SHEET__",
                        "type": "text",
                        "label": "Sheet"
                    },
                    {
                        "name": "0",
                        "type": "text",
                        "label": "InsuranceNumber (A)"
                    },
                    {
                        "name": "1",
                        "type": "text",
                        "label": "FirstName (B)"
                    },
                    {
                        "name": "2",
                        "type": "text",
                        "label": "LastName (C)"
                    },
                    {
                        "name": "3",
                        "type": "text",
                        "label": "FullName (D)"
                    },
                    {
                        "name": "4",
                        "type": "text",
                        "label": "Gender (E)"
                    },
                    {
                        "name": "5",
                        "type": "text",
                        "label": "Date of Birth (F)"
                    },
                    {
                        "name": "6",
                        "type": "text",
                        "label": "Age (G)"
                    },
                    {
                        "name": "7",
                        "type": "text",
                        "label": "E-Mail (H)"
                    },
                    {
                        "name": "8",
                        "type": "text",
                        "label": "Address (I)"
                    },
                    {
                        "name": "9",
                        "type": "text",
                        "label": "(J)"
                    },
                    {
                        "name": "10",
                        "type": "text",
                        "label": "(K)"
                    },
                    {
                        "name": "11",
                        "type": "text",
                        "label": "(L)"
                    },
                    {
                        "name": "12",
                        "type": "text",
                        "label": "(M)"
                    },
                    {
                        "name": "13",
                        "type": "text",
                        "label": "(N)"
                    },
                    {
                        "name": "14",
                        "type": "text",
                        "label": "(O)"
                    },
                    {
                        "name": "15",
                        "type": "text",
                        "label": "(P)"
                    },
                    {
                        "name": "16",
                        "type": "text",
                        "label": "(Q)"
                    },
                    {
                        "name": "17",
                        "type": "text",
                        "label": "(R)"
                    },
                    {
                        "name": "18",
                        "type": "text",
                        "label": "(S)"
                    },
                    {
                        "name": "19",
                        "type": "text",
                        "label": "(T)"
                    },
                    {
                        "name": "20",
                        "type": "text",
                        "label": "(U)"
                    },
                    {
                        "name": "21",
                        "type": "text",
                        "label": "(V)"
                    },
                    {
                        "name": "22",
                        "type": "text",
                        "label": "(W)"
                    },
                    {
                        "name": "23",
                        "type": "text",
                        "label": "(X)"
                    },
                    {
                        "name": "24",
                        "type": "text",
                        "label": "(Y)"
                    },
                    {
                        "name": "25",
                        "type": "text",
                        "label": "(Z)"
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "google-calendar:ActionCreateEvent",
            "version": 4,
            "parameters": {
                "account": 1135164
            },
            "mapper": {
                "end": "{{addHours(parseDate(1.appointmentDate + \"-\" + 1.appointmentTime; \"DD/MM/YYYY-HH:mm\"); 1)}}",
                "start": "{{parseDate(1.appointmentDate + \"-\" + 1.appointmentTime; \"DD/MM/YYYY-HH:mm\")}}",
                "colorId": 3,
                "summary": "{{4.`3`}}",
                "location": "@DoctorsOffice",
                "attendees": [],
                "reminders": false,
                "calendarId": "caepb2b68n6fki1q6uqh6l2ht4@group.calendar.google.com",
                "recurrence": [],
                "visibility": "default",
                "allDayEvent": false,
                "description": "Appointment for {{4.`3`}} for diagnose or treatment ",
                "transparency": "opaque",
                "guestsCanModify": false,
                "sendNotifications": false,
                "remindersOverrides": []
            },
            "metadata": {
                "designer": {
                    "x": -262,
                    "y": -23
                },
                "restore": {
                    "account": {
                        "label": "BurrataSpreadsheet (martinpeschmitz@gmail.com)"
                    },
                    "colorId": {
                        "mode": "chose",
                        "label": "#dbadff (#1d1d1d)"
                    },
                    "attendees": {
                        "mode": "chose",
                        "items": []
                    },
                    "reminders": {
                        "mode": "chose"
                    },
                    "calendarId": {
                        "mode": "chose",
                        "label": "Burrata_Doc"
                    },
                    "recurrence": {
                        "items": []
                    },
                    "visibility": {
                        "label": "Default"
                    },
                    "allDayEvent": {
                        "mode": "chose"
                    },
                    "transparency": {
                        "label": "Busy"
                    },
                    "remindersOverrides": {
                        "items": []
                    }
                },
                "parameters": [
                    {
                        "name": "account",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "summary",
                        "type": "text",
                        "label": "Event name",
                        "required": true,
                        "multiline": true
                    },
                    {
                        "name": "allDayEvent",
                        "type": "boolean",
                        "label": "All day event",
                        "required": true
                    },
                    {
                        "name": "start",
                        "type": "date",
                        "label": "Start date",
                        "required": true
                    },
                    {
                        "name": "end",
                        "type": "date",
                        "label": "End date",
                        "required": true
                    },
                    {
                        "name": "description",
                        "type": "text",
                        "label": "Description"
                    },
                    {
                        "name": "location",
                        "type": "text",
                        "label": "Location"
                    },
                    {
                        "name": "reminders",
                        "type": "boolean",
                        "label": "Use the default reminder settings for this event."
                    },
                    {
                        "name": "remindersOverrides",
                        "spec": [
                            {
                                "name": "method",
                                "type": "select",
                                "label": "Method",
                                "options": [
                                    {
                                        "label": "Email",
                                        "value": "email"
                                    },
                                    {
                                        "label": "SMS",
                                        "value": "sms"
                                    },
                                    {
                                        "label": "Popup",
                                        "value": "popup"
                                    }
                                ],
                                "required": true
                            },
                            {
                                "name": "minutes",
                                "type": "uinteger",
                                "label": "Minutes before event",
                                "required": true,
                                "validate": {
                                    "max": 40320
                                }
                            }
                        ],
                        "type": "array",
                        "label": "Reminders"
                    },
                    {
                        "name": "attendees",
                        "spec": [
                            {
                                "name": "displayName",
                                "type": "text",
                                "label": "Name"
                            },
                            {
                                "name": "email",
                                "type": "email",
                                "label": "Email",
                                "required": true
                            }
                        ],
                        "type": "array",
                        "label": "Attendees",
                        "labels": {
                            "add": "Add an attendee",
                            "edit": "Edit an attendee",
                            "field": "Attendee"
                        }
                    },
                    {
                        "name": "transparency",
                        "type": "select",
                        "label": "Show me as",
                        "required": true,
                        "validate": {
                            "enum": [
                                "opaque",
                                "transparent"
                            ]
                        }
                    },
                    {
                        "name": "visibility",
                        "type": "select",
                        "label": "Visibility",
                        "required": true,
                        "validate": {
                            "enum": [
                                "default",
                                "public",
                                "private"
                            ]
                        }
                    },
                    {
                        "name": "sendNotifications",
                        "type": "boolean",
                        "label": "Send notifications about the creation of the new event",
                        "required": true
                    },
                    {
                        "name": "guestsCanModify",
                        "type": "boolean",
                        "label": "Guests can modify the event",
                        "required": true
                    },
                    {
                        "name": "recurrence",
                        "type": "array",
                        "label": "Recurrence"
                    },
                    {
                        "name": "calendarId",
                        "type": "select",
                        "label": "Calendar",
                        "required": true
                    },
                    {
                        "name": "colorId",
                        "type": "select",
                        "label": "Color"
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 3,
            "module": "google-email:ActionSendEmail",
            "version": 1,
            "parameters": {
                "account": 1135164
            },
            "mapper": {
                "cc": [],
                "to": [
                    "{{4.`7`}}"
                ],
                "bcc": [],
                "html": "Dear {{4.`3`}}\n<p>\nyour doctors appointment has been scheduled for {{formatDate(parseDate(1.appointmentDate; \"DD/MM/YYYY\"); \"MMM DD YYYY\")}} at{{1.appointmentTime}}.\n<p>\nPlease make sure to be there in time.\n<p>\nYours sincerely\n<p>\nMedical chat bot service",
                "subject": "Your appointment has been scheduled",
                "attachments": []
            },
            "metadata": {
                "designer": {
                    "x": 49,
                    "y": -26
                },
                "restore": {
                    "cc": {
                        "mode": "chose",
                        "items": []
                    },
                    "to": {
                        "mode": "chose",
                        "items": [
                            "undefined"
                        ]
                    },
                    "bcc": {
                        "mode": "chose",
                        "items": []
                    },
                    "account": {
                        "label": "BurrataSpreadsheet (martinpeschmitz@gmail.com)"
                    },
                    "attachments": {
                        "mode": "chose",
                        "items": []
                    }
                },
                "parameters": [
                    {
                        "name": "account",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "to",
                        "spec": {
                            "name": " ",
                            "type": "email",
                            "label": "Email address",
                            "required": true
                        },
                        "type": "array",
                        "label": "To",
                        "labels": {
                            "add": "Add a recipient",
                            "edit": "Edit a recipient"
                        },
                        "required": true
                    },
                    {
                        "name": "subject",
                        "type": "text",
                        "label": "Subject"
                    },
                    {
                        "name": "html",
                        "type": "text",
                        "label": "Content"
                    },
                    {
                        "name": "attachments",
                        "spec": [
                            {
                                "name": "fileName",
                                "type": "filename",
                                "label": "File name",
                                "required": true,
                                "semantic": "file:name"
                            },
                            {
                                "name": "data",
                                "type": "buffer",
                                "label": "Data",
                                "required": true,
                                "semantic": "file:data"
                            },
                            {
                                "name": "cid",
                                "type": "text",
                                "label": "Content-ID"
                            }
                        ],
                        "type": "array",
                        "label": "Attachments",
                        "labels": {
                            "add": "Add an attachment",
                            "edit": "Edit an attachment"
                        }
                    },
                    {
                        "name": "cc",
                        "spec": {
                            "type": "email",
                            "label": "Email address"
                        },
                        "type": "array",
                        "label": "Copy recipient",
                        "labels": {
                            "add": "Add a copy recipient",
                            "edit": "Edit a copy recipient"
                        }
                    },
                    {
                        "name": "bcc",
                        "spec": {
                            "type": "email",
                            "label": "Email address"
                        },
                        "type": "array",
                        "label": "Blind copy recipient",
                        "labels": {
                            "add": "Add a blind copy recipient",
                            "edit": "Edit a blind copy recipient"
                        }
                    }
                ]
            }
        }
    ],
    "metadata": {
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": false,
            "sequential": false,
            "confidential": false,
            "dataloss": false,
            "dlq": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.integromat.com"
    }
}